
<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('../../../../../assets/images/emisiones_energia.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-6 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Emisiones y Energía</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-3 my-md-1">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <h1>Cuantificando y reduciendo para hacer posible un futuro libre de carbono</h1>
              <p>
                El impacto del cambio climático en nuestro país se vuelve cada vez más crítico. Sus efectos subrayan la urgente necesidad de abordar este desafío en el contexto peruano. Como líderes de la industria minera, reconocemos la importancia de una transición energética baja en carbono. Por ello, hemos diseñado un ambicioso plan de reducción de gases de efecto invernadero para contribuir a un futuro más sostenible.
              </p>
              <p>
                En Minsur, nos hemos comprometido a reducir nuestras emisiones en un 30% para 2030 y alcanzar las emisiones netas cero para 2050. Para lograrlo, cuantificamos nuestras emisiones tanto en nuestras operaciones como en nuestras subsidiarias, siguiendo los lineamientos y metodologías del Protocolo de Gases de Efecto Invernadero y el estándar ISO 14064:2018. Asimismo, contamos con un portafolio de proyectos que incluye iniciativas de energías renovables, la adquisición de energía verde de terceros y mejoras en eficiencia energética.

              </p>

            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_emisiones_energia.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Además de implementar acciones para reducir el impacto del cambio climático mediante la disminución de emisiones y el desarrollo de estrategias progresivas de acción climática, nos enfocamos en gestionar los riesgos y oportunidades físicas que puedan surgir debido a los cambios continuos en el clima. Consideramos el aumento de eventos climáticos extremos y trabajamos para integrar escenarios de cambio climático y evaluaciones de vulnerabilidad en el diseño y evaluación de proyectos, así como en nuestras operaciones actuales.

              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



