


<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('../../../../../assets/images/fondo_gobernanza_repsonsable.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-6 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Gobernanza responsable</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-3 my-md-1">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <h1>Impulsando el futuro con ética y sostenibilidad</h1>
              <p>
                Nuestro compromiso con la sostenibilidad y la transparencia nos permite construir relaciones de confianza con nuestros grupos de interés, asegurando un crecimiento responsable y a largo plazo.

              </p>
              <p>
                Apostamos por una gestión ética y transparente en cada decisión, fomentando la rendición de cuentas para fortalecer la confianza a largo plazo de todos nuestros grupos de interés en la cadena de valor.

              </p>
              <p>
                Nuestro Directorio, como órgano de gobierno máximo, establece una visión estratégica clara, enfocada en generar valor sostenible para todas las partes interesadas. A su vez, nuestra plana directiva se distingue por su capacidad de liderar equipos de alto rendimiento, maximizando el valor para accionistas y colaboradores.

              </p>
              <p>
                Este enfoque se basa en una cultura organizacional centrada en las personas, la seguridad, la excelencia y la responsabilidad, siempre alineada a nuestro propósito: mejorar la vida transformando minerales en bienestar.

              </p>
            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_gobernanza_responsable.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                La implementación de comités especializados nos permite abordar temas críticos con mayor profundidad, lo que fortalece nuestra capacidad de adaptación y crecimiento. Estos comités juegan un papel esencial en la integración de factores ambientales, sociales y de gobernanza (ESG) en todas las áreas y decisiones empresariales.

              </p>
              <p>
                Nuestro Sistema de Gestión de Riesgos asegura un enfoque integral, coherente y alineado con los estándares internacionales, como el Marco de Gestión de Riesgos Empresariales (ERM) y la norma ISO 31000. Este sistema se aplica de manera transversal en todos los niveles de gobernanza, protegiendo tanto a las personas como los objetivos del negocio, y garantizando nuestra capacidad para generar valor en el corto, mediano y largo plazo.

              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


