

<app-breadcrumbs></app-breadcrumbs>
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fondo-emisiones-netas-cero.png') ;">
  <div class="container-fluid ">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Emisiones Netas Cero</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
 <!-- secction texto y descargar -->
  <section class="contenedor-section section-background-2">
    <div class="container-fluid my-lg-5 my-md-0">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-lg-9">
            <div class="titulo-realeway-mediano">
              <p>
                En Minsur, una empresa minera líder en sostenibilidad, nos hemos comprometido a alcanzar las emisiones netas cero para el año 2050. Este ambicioso objetivo se alinea con los acuerdos internacionales para combatir el cambio climático. Para lograrlo, como compañía nos hemos establecido distintas medidas a corto y mediano plazo. Una de ellas es reducir un 30% nuestras emisiones para 2030.
                    </p>
              <p>
                En esa línea, evaluamos distintos proyectos, dentro de los que destacan el caso de negocio para el cambio de combustibles a GNL para camiones mineros, estudios de energía renovable fotovoltaica y eólica, sistemas trolley para camiones de acarreo, entre otros.
              </p>
              <p>
                Además, realizamos un seguimiento constante de nuestra huella de carbono y colaboramos con otros actores de la industria para impulsar la sostenibilidad en el sector minero. Al adoptar estas medidas, no solo contribuimos a la protección del medio ambiente, sino que también fortalecemos nuestra posición en el mercado global, donde cada vez más consumidores e inversores valoran las prácticas sostenibles.

              </p>
            </div>
        </div>
        <div class="col-sm-12 col-lg-2 d-flex flex-column align-items-center align-items-lg-start">
          <p class="titulo-azul-mediano">Descargas</p>
          <div class="card4 " style="max-width: 300px;">
            <img src="../../../../../../assets/images/reporte3.png" class="card-img-top" alt="Imagen de muestra">
            <div class="card-body  mt-3">
              <h5 class="titulo-pequeño-azul-marino-bold">Paper sobre Trazabilidad</h5>
            </div>
            <div class="border-top pt-3 text-lg-end text-md-center">
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Fin secction texto y descargar -->
 <!-- seccion  Produccion rsponsable-->
<section class="contenedor-section section-background-7">
  <app-card-produccion-responsable></app-card-produccion-responsable>
</section>

  <!-- fin seccion que producimos -->

