<section class="contenedor-section section-background-9">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="mb-5 tit-interno">Reportes</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 ">
          <ul class="list-unstyled  link-list">
            <li class="mb-2 ">

              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Estados financieros"
              textColor="#36404E"
            >
            </app-button-reporte>
              <!-- <a href="#" class="d-inline-block px-2 py-3 activate" tabindex="1"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Estados financieros</a> -->
            </li>
            <li class="mb-2">
              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Análisis de Gerencia"
              textColor="#36404E"
            >
            </app-button-reporte>
                           <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="2"><i class="fas fa-arrow-right me-2 flecha-blue"></i>Análisis de Gerencia</a> -->
            </li>
            <li class="mb-2">
              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Memoria anual"
              textColor="#36404E"
            >
            </app-button-reporte>

              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="3"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Memoria anual</a> -->
            </li>
            <li class="mb-2">
              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Reporte anual"
              textColor="#36404E"
            >
            </app-button-reporte>

              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="4"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Reporte anual</a> -->
            </li>
            <li class="mb-2">
              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Presentación corporativa"
              textColor="#36404E"
            >
            </app-button-reporte>

                          <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="5"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Presentación corporativa</a> -->
            </li>
            <li>
              <app-button-reporte
              link="/"
              defaultBorderColor="none"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#0063f9"
              label="Otros"
              textColor="#36404E"
            >
            </app-button-reporte>

              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="6"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Otros</a> -->
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="row mb-5">
            <div class="col-lg-6">
              <div class="custom-select-listados">
                <div class="custom-select">
                  <div class="select-trigger">Individual</div>
                  <ul class="options">
                    <li data-value="individual">Individual</li>
                    <li data-value="consolidado">Consolidado</li>

                  </ul>
                </div>


              </div>
            </div>
            <div class="col-lg-6">
              <div class="custom-select-listados">
                <div class="custom-select">
                  <div class="select-trigger">Año</div>
                  <ul class="options">
                    <li data-value="2024">2024</li>
                    <li data-value="2024">2023</li>
                    <li data-value="2024">2022</li>
                    <li data-value="2024">2021</li>
                    <li data-value="2024">2020</li>
                    <li data-value="2024">2019</li>
                    <li data-value="2024">2018</li>
                    <li data-value="2024">2018</li>
                    <li data-value="2024">2016</li>
                    <li data-value="2024">2015</li>
                    <li data-value="2024">2014</li>
                  </ul>
                </div>


              </div>
            </div>
          </div>
          <div class="pt-lg-5 pt-sm-0">
            <!-- Primer div -->
            <div class="row align-items-center mb-4 content-listado">

              <!-- Texto (60%) -->
              <div class="col-12 col-md-7 d-flex align-items-center">
                <p class="mb-0 listado estados">Estado financiero 2024-1</p>
              </div>

              <!-- Información PDF y botones (40%) -->
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-md-end mt-2 mt-md-0">

                <!-- Información del PDF -->
                <p class="mb-0 card4-footer me-sm-0 ms-sm-0 me-lg-3">PDF 12.5MB</p>

                <!-- Botón Descargar -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 " download>
                  descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>

                <!-- Botón Ver -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5" download>
                  ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>

            </div>


            <!-- Segundo div -->
            <div class="row align-items-center mb-4 content-listado">

              <!-- Texto (60%) -->
              <div class="col-12 col-md-7 d-flex align-items-center">
                <p class="mb-0 listado estados">Estado financiero 2024-2</p>
              </div>

              <!-- Información PDF y botones (40%) -->
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-md-end mt-2 mt-md-0">

                <!-- Información del PDF -->
                <p class="mb-0 card4-footer me-sm-0 ms-sm-0 me-lg-3">PDF 12.5MB</p>

                <!-- Botón Descargar -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 " download>
                  descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>

                <!-- Botón Ver -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5" download>
                  ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>

            </div>

            <!-- Tercer div -->
            <div class="row align-items-center mb-4 content-listado">

              <!-- Texto (60%) -->
              <div class="col-12 col-md-7 d-flex align-items-center">
                <p class="mb-0 listado estados">Estado financiero 2024-3</p>
              </div>

              <!-- Información PDF y botones (40%) -->
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-md-end mt-2 mt-md-0">

                <!-- Información del PDF -->
                <p class="mb-0 card4-footer me-sm-0 ms-sm-0 me-lg-3">PDF 12.5MB</p>

                <!-- Botón Descargar -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 " download>
                  descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>

                <!-- Botón Ver -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5" download>
                  ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>

            </div>

            <!-- Cuarto div -->
            <div class="row align-items-center mb-4 content-listado">

              <!-- Texto (60%) -->
              <div class="col-12 col-md-7 d-flex align-items-center">
                <p class="mb-0 listado estados">Estado financiero 2024-4</p>
              </div>

              <!-- Información PDF y botones (40%) -->
              <div class="col-12 col-md-5 d-flex align-items-center justify-content-md-end mt-2 mt-md-0">

                <!-- Información del PDF -->
                <p class="mb-0 card4-footer me-sm-0 ms-sm-0 me-lg-3">PDF 12.5MB</p>

                <!-- Botón Descargar -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 " download>
                  descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>

                <!-- Botón Ver -->
                <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5" download>
                  ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>

            </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</section>
