<section class="contenedor-section section-background-7">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="mb-5 tit-interno">Reportes</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 ">
          <ul class="list-unstyled  link-list">
            <li class="mb-2 ">
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 "  tabindex="1">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Estados financieros
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3 activate" tabindex="1"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Estados financieros</a> -->
            </li>
            <li class="mb-2">
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 "  tabindex="2">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Análisis de Gerencia
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="2"><i class="fas fa-arrow-right me-2 flecha-blue"></i>Análisis de Gerencia</a> -->
            </li>
            <li class="mb-2">
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 active"  tabindex="3">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Memoria anual
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="3"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Memoria anual</a> -->
            </li>
            <li class="mb-2">
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 "  tabindex="4">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Reporte anual
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="4"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Reporte anual</a> -->
            </li>
            <li class="mb-2">
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 "  tabindex="5">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Presentación corporativa
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="5"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Presentación corporativa</a> -->
            </li>
            <li>
              <a routerLink="/" class="btn-vermas listado d-inline-block px-2 py-3 "  tabindex="6">
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right flecha-blue"></i
                ></span>
                Otros
              </a>
              <!-- <a href="#" class="d-inline-block px-2 py-3" tabindex="6"><i class="fas fa-arrow-right me-2 flecha-azul"></i>Otros</a> -->
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="row mb-5">
            <div class="col-lg-6">
              <select name="" id="" class="selector-listado form-select mb-2">
                <option value="">Individual</option>
              </select>
            </div>
            <div class="col-lg-6">
              <select name="" id="" class="selector-listado form-select mb-2">
                <option value="">Año</option>
                <option value="">2025</option>
                <option value="">2024</option>
              </select>
            </div>
          </div>
          <div class="pt-lg-5 pt-sm-0">
            <!-- Primer div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
            <!-- Flecha y texto alineados en la misma línea -->
            <div class="d-flex align-items-center flex-grow-1">

              <p class="mb-0 listado">Estado financiero 2024-1 </p>
            </div>

            <!-- Información del PDF -->
            <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
              <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
            </div>

            <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
            <div class="mt-2 text-center">
              <a routerLink="/" class="btn-descargar me-2" download>
                Descargar
                <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
              </a>
              <a routerLink="/" class="btn-descargar btn-ver" download>
                Ver
                <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
              </a>
            </div>
            </div>


            <!-- Segundo div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">

                <p class="mb-0 listado">Estado financiero 2024-2 </p>
              </div>

              <!-- Información del PDF -->
              <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
                <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
              </div>

              <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
              <div class="mt-2 text-center">
                <a routerLink="/" class="btn-descargar me-2" download>
                  Descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>
                <a routerLink="/" class="btn-descargar btn-ver" download>
                  Ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>
            </div>

            <!-- Tercer div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">

                <p class="mb-0 listado">Estado financiero 2024-3 </p>
              </div>

              <!-- Información del PDF -->
              <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
                <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
              </div>

              <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
              <div class="mt-2 text-center">
                <a routerLink="/" class="btn-descargar me-2" download>
                  Descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>
                <a routerLink="/" class="btn-descargar btn-ver" download>
                  Ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>
            </div>

            <!-- Cuarto div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">

                <p class="mb-0 listado">Estado financiero 2024-4  </p>
              </div>

              <!-- Información del PDF -->
              <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
                <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
              </div>

              <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
              <div class="mt-2 text-center">
                <a routerLink="/" class="btn-descargar me-2" download>
                  Descargar
                  <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                </a>
                <a routerLink="/" class="btn-descargar btn-ver" download>
                  Ver
                  <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
                </a>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
