.blue-line {
  left: 0;
  width: 100%;
  height: 25px;
  background-color: blue;
  transition: top 0.3s ease-in-out;
}
.section_noticias_inicio {
  background-color: #f0f0f0;
}
.section_noticias_inicio .info_noticias_general {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.section_noticias_inicio .bg-white {
  background-color: #fff;
}

.news-date {
  font-size: 14px;
  color: #555;
}

.news-title {
  font-size: 46px;
  font-weight: bold;
  text-align: left;
  line-height: 76px;
  letter-spacing: -1.15px;
}

.news-image {
  display: flex;
  align-items: end;
}
.news-image img {
  width: 100%;
  height: calc(100% + 20px);
  object-fit: cover;
}

.section-presentaciones {
  background-color: #f0f0f0;
}

/* carrousel 1 , noticias - multimedia */
/* .section_multimedia .carousel {
  margin-top: 15px;
} */
.section_multimedia .carousel .carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_multimedia .carousel .carousel-text {
  background: black;
  padding: 15px;
  text-align: left;
  width: 100%;
}
.section_multimedia .carousel .carousel-text h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.section_multimedia .carousel .carousel-text p {
  font-size: 14px;
  margin: 0;
}

.section_multimedia .carousel .img-carousel {
  height: 500px;
  object-fit: cover;
}
.section_multimedia .carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.mini-slider-container {
  display: flex;
  width: 100%;
  position: relative;
}

/* Swiper ocupa el 95% del ancho */
.mini-slider-container swiper-container {
  flex: 0 0 95%;
  width: 95%;
  overflow: hidden;
}

/* Flecha ocupa el 5% y se alinea a la derecha */
.mini-slider-next {
  flex: 0 0 5%;
  width: 5%;
  height: 100%;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
  top: calc(120px/2 - 20px);
}

/* Estilo para la imagen de la flecha */
.mini-slider-arrow {
  width: 24px;
  height: 24px;
}

/* Estilos para cada slide */
.mini-slider-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-slider-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.mini-slider-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* estilos Video Multimedia */
.video_multimedia.video-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.video_multimedia .video-container .video-item {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  border-bottom: solid 1px #9FB5C9;
}
/* .video_multimedia .video-container:hover {
  transform: scale(1.02);
} */

.video_multimedia .video-thumbnail {
  position: relative;
  width: 150px;
  height: 85px;
  flex-shrink: 0;
}
.video_multimedia .video-thumbnail .video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video_multimedia .video-thumbnail .video-duration {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
}

.video_multimedia .video-thumbnail .video-play {
  position: absolute;
  bottom: 5px;
  right: 5px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #fff;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
 .video_multimedia .video-item:hover .video-thumbnail .video-play {
  border: 1px solid #E7F2FC;
}
.video_multimedia .video-item:hover .video-description {
  text-decoration: underline;
  color: #36404E;
  font-weight: bolder;
}
.video_multimedia .video-thumbnail .video-play img {
  width: 16px;
  height: 16px;
}

.video_multimedia .video-info {
  flex: 1;
}
.video_multimedia .video-info .video-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.video_multimedia .video-info .video-description {
  font-size: 14px;
  color: #666;
}
