<div class="blue-line"></div>
<section class="py-lg-3 py-2 section_noticias_inicio">
  <div class="container-fluid py-sm-4 py-1">

    <div class="d-flex flex-lg-row flex-column justify-content-between align-items-lg-end align-items-center col-12 mb-2 mb-sm-3 mb-lg-5">
      <div class="col-12 col-lg-4 title text-lg-start text-center mb-3 mb-lg-0">Ultimas Noticias</div>

      <div class="d-flex flex-column col-12 col-lg-4">
        <span class="text-end text-lg-end mb-3">Ordenar por</span>
        <div class="custom-select-listados">
          <div class="custom-select">
            <div class="select-trigger">Más Recientes</div>
            <ul class="options">
              <li data-value="recientes">Más Recientes</li>
              <li data-value="seguridad">Seguridad y Salud</li>
              <li data-value="medio">Medio Ambiente</li>
              <li data-value="governance">Governance</li>
              <li data-value="etica">Ética</li>
            </ul>
          </div>


        </div>


      </div>
    </div>
    <div
      class="row align-items-stretch info_noticias_general py-lg-4 py-sm-3 py-2"
    >
      <div
        class="col-md-5 bg-white p-lg-5 p-lg-4 p-3 d-flex flex-column justify-content-between"
      >
        <div>
          <p class="news-date mb-lg-4 mb-lg-4 mb-2">Mayo, 2024</p>
          <h4 class="news-title pe-xxl-5 pe-sm-3 pe-2">
            Formamos parte del índice de sostenibilidad de la BVL y S&P Dow
            Jones
          </h4>
        </div>
          <app-button

            link="detalle/1"
            defaultBorderColor="#0063f9"
            defaultStrokeColor="#0063f9"
            hoverStrokeColor="#ffffff"
            label="ver más"
            textColor="#0063f9"
          >
          </app-button>

      </div>

      <div class="col-md-7 news-image px-0">
        <img
          src="assets/images/noticia_principal.png"
          alt="Noticia"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
  <div class="mb-5">
    <app-card-noticias
    [noticias]="noticiasCard"
    [displayCount]="6"
    hoverClass="hover-card-underline2"
    [titleNoticias]="false"
  ></app-card-noticias>
  </div>

</section>
<section class="section_multimedia py-lg-3 py-2">
  <div class="container-fluid py-sm-4 py-1">
    <p class="mb-lg-5 mb-sm-3 mb-2 title">Multimedia</p>
    <div class="row gx-lg-5 gx-3">
      <div class="col-lg-8 pe-lg-5 pe-sm-0">
        <div class="d-flex justify-content-between">
          <span class="title_galerias">Galerias</span>
          <a routerLink="/" class="btn-descargar btn-ver">
            ver todas
            <span class="flecha-circular"><i class="fas fa-plus"></i></span>
          </a>
        </div>
        <div
          id="galleryCarousel"
          class="carousel slide py-lg-4 py-2"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-content">
                <img
                  src="assets/images/multimedia_galeria_princ.png"
                  class="d-block w-100 img-carousel"
                  alt="Galería 1"
                />
                <div class="carousel-text p-lg-4 p-md-3 p-2">
                  <h5>Sostenibilidad en Los Andes</h5>
                  <p>
                    Minsur es la primera empresa peruana en ser reconocida por.Minsur
                    es la primera empresa peruana en ser reconocida por Minsur es la primera
                    empresa peruana en ser reconocida.
                  </p>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="carousel-content">
                <img
                  src="assets/images/noticia_principal.png"
                  class="d-block w-100 img-carousel"
                  alt="Galería 2"
                />
                <div class="carousel-text p-lg-4 p-md-3 p-2">
                  <h5>Innovación y Minería</h5>
                  <p>
                    Comprometidos con tecnologías limpias y una operación
                    sostenible.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Controles -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#galleryCarousel"
            data-bs-slide="prev"
          >
            <img
              src="assets/icons/left-arrow.svg"
              class="custom-arrow"
              alt="Prev"
            />
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#galleryCarousel"
            data-bs-slide="next"
          >
            <img
              src="assets/icons/right-arrow.svg"
              class="custom-arrow"
              alt="Next"
            />
          </button>
        </div>

        <div class="mini-slider-container">
          <!-- Swiper -->
          <swiper-container
            #swiperEl
            [slides-per-view]="4"
            space-between="15"
            loop="true"
            pagination="false"
            navigation="false"
            [breakpoints]="{
              '0': { slidesPerView: 2 },
              '768': { slidesPerView: 4 }
            }"
          >
            <swiper-slide *ngFor="let item of noticias">
              <div class="mini-slider-item">
                <img
                  [src]="item.img"
                  class="mini-slider-img"
                  [alt]="item.title"
                />
                <h6 class="mini-slider-title">{{ item.title }}</h6>
              </div>
            </swiper-slide>
          </swiper-container>

          <button class="mini-slider-next ms-md-3 ms-0" (click)="moverDerecha()">
            <img
              src="assets/icons/Icon awesome-arrow-right.svg"
              class="mini-slider-arrow"
              alt="Next"
            />
          </button>
        </div>
      </div>
      <div class="col-lg-4 ps-lg-5 ps-sm-3 ps-0 video_multimedia">
        <div class="d-flex justify-content-between">
          <span class="title_galerias">Videos</span>
          <a routerLink="/" class="btn-descargar btn-ver">
            ver todos
            <span class="flecha-circular"><i class="fas fa-plus"></i></span>
          </a>
        </div>
        <div class="">
          <div class="video-container">
            <div
              *ngFor="let video of videos"
              class="video-item py-lg-4 py-2"
              (click)="verVideo(video.link)"
            >
              <div class="video-thumbnail">
                <img
                  [src]="video.thumbnail"
                  class="video-img"
                  [alt]="video.description"
                />
                <span class="video-duration">{{ video.duration }}</span>
                <span class="video-play">
                  <i class="fas fa-play"></i>
                </span>
              </div>
              <div class="video-info">
                <p class="video-description m-0">{{ video.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contenedor-section section-presentaciones">
  <app-card-presentaciones></app-card-presentaciones>
</section>
