


<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/seguridad_salud.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Seguridad y Salud</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Protegemos lo más valioso: la vida de las personas</h1>
              <p>
                Nuestros altos estándares de salud y seguridad laboral se fundamentan en la filosofía de priorizar a las personas en cada una de nuestras decisiones y acciones. Protegemos la vida y el bienestar a través de un sistema de gestión efectivo y una sólida cultura de prevención que se extiende tanto dentro como fuera de nuestras operaciones.
                  </p>
              <p>
                Nuestro sistema de gestión de seguridad y salud denominado “MINSEGUR ¡CERO es posible!” define nuestro marco de gobernanza, acción y supervisión para prevenir accidentes y enfermedades ocupacionales. Además, está alineado a los requerimientos legales aplicables e incorpora las exigencias de estándares globales, como el ICMM y la ISO 45001:2018.
              </p>
              <p>
                Estamos convencidos de que la seguridad es tarea de todos en la organización. Por ello, impulsamos un liderazgo visible y una cultura enfocada en la prevención. Así, implementamos SafeStart, uno de los principales programas de entrenamiento en seguridad a nivel mundial, que impulsa cambios de comportamientos para evitar accidentes y lesiones. En esta misma línea, nuestra “Política del derecho a decir no” alienta a nuestros trabajadores para rechazar actividades que pongan en riesgo la vida o la salud, protegiéndolos de represalias.

              </p>
            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/personal_mineria_5.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                La participación de nuestros socios comerciales es clave para asegurar la efectividad del sistema. Por ello, contamos con un Estándar de Gestión “Contratistas y Proveedores”, donde establecemos lineamientos de seguridad y salud aplicables antes, durante y después de la ejecución del servicio. También, realizamos capacitaciones periódicas y reuniones de seguridad, donde juntos tomamos acciones preventivas y correctivas.

              </p>
              <p>
                Todos estos esfuerzos se ven reflejados en nuestro desempeño. Venimos reduciendo cada año uno de nuestros principales indicadores, el Índice de Frecuencia de Lesiones Registrables (IFLR). Esto nos ubica dentro del Top 5 del Safety Performance Report del ICMM.

              </p>
              <p>
                Este enfoque implica una inversión integral en varios aspectos clave para el crecimiento sostenible y el éxito a largo plazo de nuestra organización. Por eso nuestro trabajo se concentra principalmente en tres grupos.

              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


