<div class="">
  <div class="container-fluid">
    <p class="mb-xxl-5 title-interna-index">Producción responsable</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
      <div class="col-6 col-lg-3 col-md-6 col-sm-6">
        <div class="card-2 card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <img src="assets/images/economia_circular.png" alt="Enfoque en personas" class="card-img-top" [ngClass]="cardRadius" />

          <div class="card-body mt-xxl-5 mt-xl-5 mt-lg-3 mt-sm-3 mt-2 p-0">

            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="" class="hover-underline">Economía circular</a>
            </p>
            <p class="card-text mt-xxl-4 mb-xxl-5  mt-xl-4 mb-xl-5  mt-md-3 mb-md-4  mt-sm-2 mb-sm-3 mt-2 mb-3" *ngIf="descripcion">
              Transformamos la producción y consumo de minerales, fomentando la
              eficiencia de procesos, para crear valor con menos recursos.
            </p>
          </div>

          <div class="p-0 d-flex justify-content-start">
            <app-button
              *ngIf="descripcion"
              link="/home/economia-circular"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
          </div>
        </div>
      </div>
     

      <div class="col-6 col-lg-3 col-md-6 col-sm-6">
        <div class="card-2 card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <img src="assets/images/emisiones_netas.png" alt="Enfoque en personas" class="card-img-top" [ngClass]="cardRadius" />

          <div class="card-body mt-xxl-5 mt-xl-5 mt-lg-3 mt-sm-3 mt-2 p-0">

            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="/home/descripcion-emisiones-netas" class="hover-underline">Emisiones netas cero</a>
            </p>
            <p class="card-text mt-xxl-4 mb-xxl-5  mt-xl-4 mb-xl-5  mt-md-3 mb-md-4  mt-sm-2 mb-sm-3 mt-2 mb-3" *ngIf="descripcion">
              Buscamos lograr emisiones netas cero para el 2050. Para ello,
              tenemos una hoja de ruta orientada a mitigar emisiones y afrontar
              riesgos climáticos.
            </p>
          </div>

          <div class="p-0 d-flex justify-content-start">
            <app-button
              *ngIf="descripcion"
              link="/home/emisiones-netas"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
          </div>
        </div>
      </div>

    
      <div class="col-6 col-lg-3 col-md-6 col-sm-6">
        <div class="card-2 card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <img src="assets/images/trazabilidad.png" alt="Enfoque en personas" class="card-img-top" [ngClass]="cardRadius" />

          <div class="card-body mt-xxl-5 mt-xl-5 mt-lg-3 mt-sm-3 mt-2 p-0">

            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="/home/trazabilidad" class="hover-underline">Trazabilidad</a>
            </p>
            <p class="card-text mt-xxl-4 mb-xxl-5  mt-xl-4 mb-xl-5  mt-md-3 mb-md-4  mt-sm-2 mb-sm-3 mt-2 mb-3" *ngIf="descripcion">
              Primera minera en usar tecnología blockchain para verificar origen
              del estaño, reafirmando nuestro compromiso con la transparencia y
              la producción ética.
            </p>
          </div>

          <div class="p-0 d-flex justify-content-start">
            <app-button
              *ngIf="descripcion"
              link="/home/trazabilidad"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
          </div>
        </div>
      </div>

      
      <div class="col-6 col-lg-3 col-md-6 col-sm-6">
        <div class="card-2 card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <img src="assets/images/enfoque_personas.png" alt="Enfoque en personas" class="card-img-top" [ngClass]="cardRadius" />

          <div class="card-body mt-xxl-5 mt-xl-5 mt-lg-3 mt-sm-3 mt-2 p-0">

            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="/home/descripcion-enfoque-personas" class="hover-underline">Enfoque en personas</a>
            </p>
            <p class="card-text mt-xxl-4 mb-xxl-5  mt-xl-4 mb-xl-5  mt-md-3 mb-md-4  mt-sm-2 mb-sm-3 mt-2 mb-3" *ngIf="descripcion">
              Nuestro éxito está ligado con nuestro propósito empresarial de generar bienestar en nuestra gente y en las comunidades donde operamos.
            </p>
          </div>

          <div class="p-0 d-flex justify-content-start">
            <app-button
              *ngIf="descripcion"
              link="/home/enfoque-personas"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</div>
