<div class="">
  <div class="container-fluid">
    <p class="mb-xxl-5  title-interna-index">Producción responsable</p>
    <div
        class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 "

      >

      <div class="col col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card-2">
          <img
            src="assets/images/economia_circular.png"
            alt="Economía circular"
            class="card-img-top"
            [ngClass]="cardRadius"
          />
          <div class="card-body my-5">
            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a href="" class="hover-underline text-wrap">Economía circular</a>
            </p>
            <p class="card-text mt-4 mb-5" *ngIf="descripcion">
              Transformamos la producción y consumo de minerales fomentando la
              eficiencia de procesos para crear valor con menos recursos.
            </p>
            <app-button
                *ngIf="descripcion"
                link="/home/economia-circular"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="ver más"
                textColor="#0063f9"
              >
              </app-button>
            <!-- <a routerLink="/home/economia-circular" class="btn-vermas" *ngIf="descripcion">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              ver más
            </a> -->
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card-2">
          <img
            src="assets/images/emisiones_netas.png"
            alt="Emisiones netas cero"
            class="card-img-top"
            [ngClass]="cardRadius"
          />
          <div class="card-body my-5">
            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="/home/descripcion-emisiones-netas" class="hover-underline">Emisiones netas cero</a>
            </p>
            <p class="card-text mt-4 mb-5" *ngIf="descripcion">
              Buscamos lograr emisiones netas cero para el 2050, tenemos una
              hoja de ruta orientada a mitigar emisiones y afrontar
              climáticos.
            </p>
            <app-button
            *ngIf="descripcion"
            link="/home/emisiones-netas"
            defaultBorderColor="#0063f9"
            defaultStrokeColor="#0063f9"
            hoverStrokeColor="#ffffff"
            label="ver más"
            textColor="#0063f9"
          >
          </app-button>
            <!-- <a routerLink="/home/emisiones-netas"  class="btn-vermas" *ngIf="descripcion">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              ver más
            </a> -->
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card-2">
          <img
            src="assets/images/trazabilidad.png"
            alt="imagen 3"
            class="card-img-top"
            [ngClass]="cardRadius"
          />
          <div class="card-body my-5">
            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a routerLink="/home/trazabilidad"  class="hover-underline">Trazabilidad</a>
            </p>
            <p class="card-text mt-4 mb-5" *ngIf="descripcion">
              Primera minera en usar tecnología blockchain para verificar
              origen del estaño, reafirmando nuestro compromiso con la
              transparencia y la producción ética.
            </p>
            <app-button
            *ngIf="descripcion"
            link="/home/economia-circular"
            defaultBorderColor="#0063f9"
            defaultStrokeColor="#0063f9"
            hoverStrokeColor="#ffffff"
            label="ver más"
            textColor="#0063f9"
          >
          </app-button>
            <!-- <a routerLink="/home/economia-circular" class="btn-vermas" *ngIf="descripcion">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              ver más
            </a> -->
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
        <div class="card-2">
          <img
            src="assets/images/enfoque_personas.png"
            alt="Enfoque en personas"
            class="card-img-top"
            [ngClass]="cardRadius"
          />
          <div class="card-body my-5">
            <p class="card2-title title-produccion d-flex align-items-center">
              <i class="fas fa-arrow-right flecha-blue me-2"></i>
              <a  routerLink="/home/descripcion-enfoque-personas" class="hover-underline">Enfoque en personas</a>
            </p>
            <p class="card-text mt-4 mb-5" *ngIf="descripcion">
              Nuestro éxito está ligado con nuestro propósito empresarial de
              generar bienestar en nuestra gente y en las comunidades donde
              operamos.
            </p>
            <app-button
            *ngIf="descripcion"
            link="/home/enfoque-personas"
            defaultBorderColor="#0063f9"
            defaultStrokeColor="#0063f9"
            hoverStrokeColor="#ffffff"
            label="ver más"
            textColor="#0063f9"
          >
          </app-button>
            <!-- <a routerLink="/home/economia-circular" class="btn-vermas" *ngIf="descripcion">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              ver más
            </a> -->
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
