<a [routerLink]="link"
   class="btn-descargar2 me-sm-0 ms-sm-0 me-xxl-3 me-md-1  ms-xxl-0 ms-md-1 p-xxl-1 p-xl-0"
   [style.--arrow-border-color]="defaultBorderColor"
   [style.--arrow-stroke-color]="defaultStrokeColor"
   [style.--arrow-hover-stroke-color]="hoverStrokeColor"
   [style.color]="textColor">
   <!-- [style.--arrow-hover-bg-color]="hoverBorderColor" -->
   <span class="btn-label me-2">{{ label }}</span>
   <span class="arrow-container">
    <!-- Cuerpo de la flecha (línea vertical) -->
    <svg class="arrow-body" width="15" height="15" viewBox="0 0 20 50" xmlns="http://www.w3.org/2000/svg">
      <line x1="10" y1="0" x2="10" y2="40" stroke="var(--arrow-stroke-color)" stroke-width="5" stroke-linecap="round" />
    </svg>
    <!-- Cabeza de la flecha (punta hacia abajo "V") -->
    <svg class="arrow-head" width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <polyline points="3,5 10,15 17,5" stroke="var(--arrow-stroke-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" />
    </svg>
</span>



</a>
