

<app-breadcrumbs></app-breadcrumbs>

<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/enfoque-personas.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-4 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Canal de Integridad</h1>
      </div>
    </div>
  </div>
</section>

<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="mb-5">

              <p>
                El Canal de Integridad permite reportar conductas que pueden ser ilegales, no éticas o que violen los estándares profesionales;
                 es decir, que sean inconsistentes con el Código de Ética y Conducta de la empresa. Puede reportar sus preocupaciones
                  utilizando los canales de atención que se indican en la siguiente sección.
              </p>
            </div>
            <div class="tit-interno  my-5">
              <p>Canales de atención</p>
            </div>
            <div class="row canal-atencion">
              <!-- Cada item del row -->
              <div class="col-12 py-3 my-3 border-bottom">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right  me-2"></i>
                  <p class=" mb-0 listado">Página Web</p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p>Para registrar una nueva preocupación, puede ir al siguiente enlace: <a href="/" class=" m-0 mx-2"> Registrar Preocupación</a> </p>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <p>Para consultar el estado de una preocupación ya registrada, puede ir al siguiente enlace:  <a href="/" class=" m-0 mx-2"> Consultar Preocupación</a></p>
                </div>


              </div>

              <div class="col-12 py-3 my-3  border-bottom">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right   me-2"></i>
                  <p class=" mb-0 listado">Buzón de e-mails</p>
                </div>
                <p >Puede enviar un correo electrónico a la siguiente dirección: <strong>minsur&#64;canaldeintegridad.com</strong></p>
              </div>

              <div class="col-12 py-3 my-3  border-bottom">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right   me-2"></i>
                  <p class=" mb-0 listado">Buzón de voz</p>
                </div>
                <p >Puede reportar su preocupación a través de un mensaje de voz las 24 horas del día durante los 365 días del año, marcando al siguiente número: <strong>0-800-1-8114 (opción 2)</strong> </p>
              </div>

              <div class="col-12 py-3 my-3 border-bottom">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right   me-2"></i>
                  <p class=" mb-0 listado">Central telefónica</p>
                </div>
                <p >Puede contactarse directamente con un profesional de Lunes a Viernes de 8:30 a.m. a 6:30 p.m. a los siguientes números:
                  <strong>0-800-1-8114 (opción 2009)</strong></p>
              </div>

              <div class="col-12 py-3 my-3  border-bottom">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right   me-2"></i>
                  <p class=" mb-0 listado">Dirección postal</p>
                </div>
                <p >Puede proporcionar copias de cualquier información que desee remitir físicamente, enviándola a la siguiente dirección: </p>
                <p><strong>Av. Víctor Andrés Belaúnde 171, San Isidro, Lima 27, Lima-Perú </strong></p>
                <p> Atención: Sr. Rafael Huamán</p>
                <p>Referencia: Canal de Integridad – Minsur.</p>
              </div>

              <div class="col-12 py-3 my-3 ">
                <div class="d-flex align-items-center mb-2">
                  <i class="fas fa-arrow-right   me-2"></i>
                  <p class=" mb-0 listado">Entrevista personal</p>
                </div>
                <p >Puede tener una entrevista personal para proporcionar la información a los profesionales de Ernst & Young, dirigiéndose a:  </p>
                <p><strong>Av. Víctor Andrés Belaúnde 171, San Isidro, Lima 27, Lima – Perú </strong></p>
                <p>Preguntar por: Sr. Rafael Huamán</p>
                <p>Disponible en el horario de Lunes a Viernes de 8:30am a 6:30pm o, fuera de este horario, previa cita.</p>
              </div>

            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</section>


