
<!-- seection del breadcrumb -->
<!-- <section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="/sostenibilidad" class="texto-minimo-blanco">Sosteibilidad</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">Agua y biodiversidad</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section> -->
<app-breadcrumbs></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fondo_agua_biodiversidad.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Agua y Biodiversidad</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Fomentamos la gestión responsable del agua y el respeto de la biodiversidad en todas nuestras operaciones.</h1>
              <p>
                El agua es un recurso compartido y esencial para la sostenibilidad de las comunidades usuarias, nuestras operaciones mineras y los ecosistemas en las cuencas donde operamos. Conscientes de su importancia, gestionamos este recurso de manera eficiente en nuestras operaciones, mediante acciones coordinadas entre todas las partes interesadas, basadas en una gobernanza sólida y transparente que promueva su uso responsable y sostenible.
              </p>
              <p>
                Nuestro enfoque de gestión del agua incluye la evaluación sistemática de los riesgos, desafíos y oportunidades relacionados con su disponibilidad. Utilizamos modelos operativos de balances de agua que nos permiten simular diferentes escenarios climáticos y analizar la disponibilidad hídrica en nuestras unidades. En las zonas con escasez hídrica, nuestras operaciones están respaldadas por infraestructuras, planes y proyectos específicos diseñados para aprovechar fuentes alternativas de agua.

              </p>

            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_agua_biodiversidad.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Reconocemos la importancia de conservar la naturaleza y la diversidad biológica para la vida en el planeta, el bienestar social y el desarrollo económico. Para ello ejecutamos acciones destinadas a prevenir y mitigar nuestros impactos, así como a contribuir a la regeneración de los hábitats naturales.

              </p>
              <p>
                Evaluamos y gestionamos cualquier posible impacto sobre la biodiversidad, aplicando enfoques de jerarquías de mitigación, con el objetivo de prevenir posibles daños. Como miembros del ICMM, reafirmamos nuestro compromiso de respetar las áreas protegidas y nos comprometemos a no explorar, operar ni obtener minerales en áreas designadas como Patrimonio Mundial. En toda nueva exploración, proyecto, expansión o ante cambios significativos en las operaciones, identificamos y evaluamos riesgos e impactos significativos potenciales, tanto directos como indirectos, que nuestras actividades e infraestructuras puedan tener sobre la biodiversidad.

              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



