<div class="blue-line"></div>
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-xxl-5 my-md-3">
    <div class="contenido-general">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-9 col-xxl-11">
          <p class="tit-pequeño mb-xl-5 mb-4">{{ titulo1 }}</p>
          <p class="til-grande-azul mb-xl-4 mb-4">{{ titulo2 }}</p>
          <p class="til-semi-pequenio">{{ descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
