<section class="contenedor-section section-background-2 ">
  <div class="container-fluid my-lg-5 my-md-0">
          <div class="contenido-general ">
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-8">
                    <p class="tit-pequeño">{{titulo1}}</p>
                    <p class="til-grande-azul">{{titulo2}}</p>
                    <p class="til-semi-pequenio">{{descripcion}}</p>
                  </div>

              </div>

          </div>
  </div>
</section>
