

<div class="mb-5">
  <div class="container-fluid">
    <p class="mb-5 title-interna-index">Últimas Presentaciones</p>
    <div class="row g-4 justify-content-center justify-content-md-between">
      <!-- Card 1 -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card3 h-100">
          <img
            src="assets/images/presentacion1.png"
            class="card-img-top"
            alt="Imagen 1"
          />
          <div
          class="card-body d-flex flex-column justify-content-between m-3 mx-sm-3 mx-lg-4 mx-xl-5 my-sm-2 my-lg-3"
          >
            <div>
              <div class="mb-1 mb-md-2 mb-lg-3 text-fecha">
                Junio, 2024
              </div>
              <p class="card2-title hover-card-underline2">
                Presentación de resultados en Sostenibilidad en ICMM de por Gonzalo Quijandría
              </p>
            </div>
            <div class="my-2">
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                  <p class="m-0 card4-footer">PDF 12.5MB</p>
                </div>
                <a
                  routerLink="/"
                  class="btn-descargar me-sm-0 ms-sm-0 me-lg-3 ms-lg-0 p-3"
                  download
                >
                  Descargar
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-down"></i
                  ></span>
                </a>
                <a
                  routerLink="/"
                  class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5 "
                  download
                >
                  Ver
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-right"></i
                  ></span>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card3 h-100">
          <img
            src="assets/images/presentacion2.png"
            class="card-img-top"
            alt="Imagen 1"
          />
          <div
          class="card-body d-flex flex-column justify-content-between m-3 mx-sm-3 mx-lg-4 mx-xl-5 my-sm-2 my-lg-4"
          >
            <div>
              <div class="mb-1 mb-md-2 mb-lg-3 text-fecha">
                Mayo, 2024
              </div>
              <p class="card2-title hover-card-underline2">
                Formamos parte del índice de sostenibilidad de la BVL y S&P Dow Jones
              </p>
            </div>
            <div class="my-2">
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                  <p class="m-0 card4-footer">PDF 12.5MB</p>
                </div>
                <a
                  routerLink="/"
                  class="btn-descargar me-sm-0 ms-sm-0 me-lg-3 ms-lg-0 p-3"
                  download
                >
                  Descargar
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-down"></i
                  ></span>
                </a>
                <a
                  routerLink="/"
                  class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5 "
                  download
                >
                  Ver
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-right"></i
                  ></span>
                </a>
              </div>



            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card3 h-100">
          <img
            src="assets/images/presentacion3.png"
            class="card-img-top"
            alt="Imagen 1"
          />
          <div
          class="card-body d-flex flex-column justify-content-between m-3 mx-sm-3 mx-lg-4 mx-xl-5 my-sm-2 my-lg-4"
          >
            <div>
              <div class=" mb-1 mb-md-2 mb-lg-3 text-fecha">
                Abril, 2024
              </div>
              <p class="card2-title hover-card-underline2">
                Minsur es la primera empresa peruana en ser reconocida por el
                prestigioso Shingo Institute
              </p>
            </div>
            <div class="my-2">
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                  <p class="m-0 card4-footer">PDF 12.5MB</p>
                </div>
                <a
                  routerLink="/"
                  class="btn-descargar me-sm-0 ms-sm-0 me-lg-3 ms-lg-0 p-3"
                  download
                >
                  Descargar
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-down"></i
                  ></span>
                </a>
                <a
                  routerLink="/"
                  class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-5 "
                  download
                >
                  Ver
                  <span class="flecha-circular"
                    ><i class="fas fa-arrow-right"></i
                  ></span>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
