<!-- seccion cabcera -->

  <section class="contenedor-section section-background-7 section-breadcrumb ">
    <div class="container-fluid">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb text-white rounded">
          <li class="breadcrumb-item active bread-azul titulo-pequeño-semi-azul" aria-current="page">Producción Responsable</li>
          <li class="ms-auto">
            <a routerLink="/" class="btn-vermas">
              <span class="flecha-circular"
                ><i class="fas fa-arrow-left flecha-ver-mas"></i
              ></span>
              Volver
            </a>
          </li>
        </ol>
      </nav>
      <div class="my-lg-5 my-md-0">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="titulo-super-grande-azul">Emisiones neto cero</h1>
          </div>
        </div>
      </div>
    </div>

</section>
<!-- seccion cabcera -->

<!-- secction texto y descargar -->
 <section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between">
      <div class="col-sm-12 col-lg-9">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="titulo-realeway-mediano">
              <p>
                La industria minera es un actor clave en la lucha frente al cambio climático. En Minsur hemos asumido el compromiso lograr nuestras emisiones netas cero al 2050 (alcance 1 y 2). Para lograrlo, tenemos una Hoja de Ruta aprobada por el directorio y un portafolio de proyectos que aborda las oportunidades para la transición energética, el suministro de energía renovable de terceros, la eficiencia energética en operaciones, el cambio de combustibles, entre otros.
              </p>

            </div>
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
            <div class="col-lg-12">
              <app-card-sostenibilidad [cards]="descripcion_emisiones_netas"></app-card-sostenibilidad>
            </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/desc_emisiones_netas.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="titulo-realeway-mediano">
              <p>
                La industria minera es un actor clave en la lucha frente al cambio climático. En Minsur hemos asumido el compromiso lograr nuestras emisiones netas cero al 2050 (alcance 1 y 2). Para lograrlo, tenemos una Hoja de Ruta aprobada por el directorio y un portafolio de proyectos que aborda las oportunidades para la transición energética, el suministro de energía renovable de terceros, la eficiencia energética en operaciones, el cambio de combustibles, entre otros.
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-2">
        <p class="titulo-azul-mediano">Descargas</p>
        <div class="col-12 col-lg-12 d-flex justify-content-center justify-content-lg-start">
          <div class="card4">
            <img src="../../../../../../assets/images/reporte3.png" class="card-img-container" alt="Imagen de muestra">
            <div class="card-body  mt-3">
              <h5 class="titulo-pequeño-azul-marino-bold">Paper sobre Trazabilidad</h5>
            </div>
            <div class="border-top  d-flex  justify-content-between pt-3 text-lg-end text-md-center">
              <span class="mb-0 card4-footer m-0">PDF 12.5Mb</span>
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>
              <!-- <a routerLink="/" class="btn-descargar" download>
                Descargar
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-down"></i
                ></span>
              </a> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
 <!-- Fin secction texto y descargar -->
   <!-- seccion  Produccion rsponsable-->
<section class="contenedor-section section-background-7">
  <app-card-produccion-responsable [descripcion] = "false" cardRadius="cardradius"></app-card-produccion-responsable>
</section>

  <!-- fin seccion que producimos -->

