<app-imagen-view
  [backgroundImage]="'assets/images/inversionistas-reportes.png'"
  [title]="'Inversionistas y Reportes'"
  [description]="'Estamos comprometidos a generar valor para nuestros inversores y mantenerlos informados sobre nuestra evolución.'"
  [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
  [videoThumbnail]="'assets/images/imagen_video/inversiones-reportes-memoria.png'"
  [mode]="'memoria'"
  [buttonText]="'Descargar'"
  [videoText]="'Conoce más sobre nuestras operaciones mineras'">
</app-imagen-view>
<!-- section proposito -->

<app-info-view-general
  [titulo1]="'Generando valor para nuestros inversionistas'"
  [titulo2]="'Contamos con una cartera de proyectos diversificados y sostenibles.'"
  [descripcion]="
    'Nuestra cartera nos permite maximizar oportunidades. Apostamos por iniciativas que impulsan el crecimiento responsable, integrando innovación y sostenibilidad para asegurar un retorno sólido y a largo plazo.'
  "
></app-info-view-general>

<!-- fin section proposito -->
     <!-- section nuestra vision -->
<section class="contenedor-section section-background-2 ">
  <div class="seccion-fondo " style="background:url('../../../../../assets/images/invertir1.png') center/cover no-repeat;">
          <div class="container-fluid">
              <div class="row d-flex justify-content-end">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-5 py-3">
                    <div class="contenido-flotante">
                          <p class="titulo-realeway-grande mb-xl-5 mb-sm-2">Invertir con nosotros</p>
                          <p class="texto-base">
                            Somos una empresa minera con una trayectoria sólida y
                             resultados financieros sostenibles. Ofrecemos proyectos con iniciativas
                             ambientales y sociales innovadoras, y oportunidades de inversión atractivas
                             en un sector clave de la economía. Invirtiendo en nosotros, te conviertes en
                             parte de un equipo que genera valor compartido para todos nuestros stakeholders.
                          </p>

                      </div>
                  </div>
              </div>
          </div>
  </div>
</section>
<!--  fin section vision -->
<section class="contenedor-section section-background-2">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="mb-5 tit-interno">Datos Financieros</p>
      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <!-- Card 1 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">$2.3 B</p>
              <p class="titulo-realeway-mediano">Ingresos 2023</p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">$1.2 B</p>
              <p class="titulo-realeway-mediano">EBITDA 2023</p>
            </div>
          </div>
        </div>
         <!-- Card 3 -->
         <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">$571 M</p>
              <p class="titulo-realeway-mediano">Utilidad Neta 2023</p>
            </div>
          </div>
        </div>
         <!-- Card 1 -->
         <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">30.7 kt</p>
              <p class="titulo-realeway-mediano">Estaño refinado 2023</p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">147 kt</p>
              <p class="titulo-realeway-mediano">Concentrado de cobre 2023</p>
            </div>
          </div>
        </div>
         <!-- Card 3 -->
         <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <p class="numero-semi-grande p-xl-5 p-lg-2 p-md-0">$346 M</p>
              <p class="titulo-realeway-mediano">Saldo de caja 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contenedor-section section-background-5">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="pb-xxl-5 pb-md-2 title-interna-index-blanco">Mercado de Capitales</p>
      <div class="row g-4 d-flex justify-content-between">
        <!-- Primera Sección -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="section">
            <p class="titulo-mediano-verde py-xxl-3 py-md-1">Clasificación</p>
            <p class="texto-base-blanco py-xxl-3 py-md-1">Para lograr una gestión responsable, consideramos
               aspectos sociales en la toma de nuestras decisionesPara lograr
               una gestión responsable, consideramos aspectos sociales en la toma de nuestras decisiones</p>
          </div>
        </div>
        <!-- Segunda Sección -->
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center text-center">
          <div class="section">
            <img src="../../../../../assets/images/clasificacion1.png" class="img-fluid mb-5"  style="min-width: 169px;
            max-width: 169px;
            max-height: 36px;
            min-height: 36px;" alt="Imagen">
            <p class="numero-grande py-5" >BBB-</p>
            <p class="tit-pequeño-blanco mb-5">Estable</p>
            <p class="texto-semi-pequeño mb-5">Ultima actualización XXX</p>
          </div>
        </div>
         <!-- Línea separadora -->
        <div class="col-1 d-flex justify-content-center align-items-center">
            <div class="separator"></div>
        </div>
        <!-- Tercera Sección -->
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center text-center">
          <div class="section">
            <img src="../../../../../assets/images/clasificacion2.png" class="img-fluid mb-4"  style="min-width: 139px;
            max-width: 139px;
            max-height: 60px;
            min-height: 60px;;" alt="Imagen">
            <p class="numero-grande py-5">BB+</p>
            <p class="tit-pequeño-blanco mb-5">Estable</p>
            <p class="texto-semi-pequeño mb-5">Ultima actualización XXX</p>
          </div>
        </div>
      </div>


      <!-- Segundo Row -->
      <div class="my-5">
        <div class="row g-4">
          <h3 class="col-12 titulo-mediano-verde">Bonos</h3>
          <div class="col-12">
            <!-- <div class="info-container">
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Instrumento</h5>
                <p class="titulo-sustinable">Bono</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Monto USD$ MM</h5>
                <p class="titulo-sustinable">365</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Precio Colocación</h5>
                <p class="titulo-sustinable">100</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Amortización</h5>
                <p class="titulo-sustinable">Bullet</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Cupón</h5>
                <p class="titulo-sustinable">4.375%</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Inicio</h5>
                <p class="titulo-sustinable">11/02/23</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Vencimiento</h5>
                <p class="titulo-sustinable">11/02/28</p>
              </div>
              <div class="info-item">
                <h5 class="titulo-pequeño-semi-azul">Plazo</h5>
                <p class="titulo-sustinable">5 años</p>
              </div>
            </div> -->
            <!-- <div class="row d-flex justify-content-center justify-content-xl-between text-center text-xl-start info-container">

              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Instrumento</h5>
                  <p class="titulo-sustinable">Bono</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-2  info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Monto USD$ MM</h5>
                  <p class="titulo-sustinable">365</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-2  info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Precio Colocación</h5>
                  <p class="titulo-sustinable">100</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1  info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Amortización</h5>
                  <p class="titulo-sustinable">Bullet</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Cupón</h5>
                  <p class="titulo-sustinable">Cupón</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Inicio</h5>
                  <p class="titulo-sustinable">11/02/23</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Vencimiento</h5>
                  <p class="titulo-sustinable">11/02/28</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section ">
                  <h5 class="titulo-pequeño-semi-azul">Plazo</h5>
                  <p class="titulo-sustinable">5 años</p>
                </div>
              </div>
            </div> -->
            <div class="row d-flex justify-content-center justify-content-xl-between text-xl-start info-container">
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Instrumento</h5>
                  <p class="titulo-sustinable">Bono</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-2  info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Monto USD$ MM</h5>
                  <p class="titulo-sustinable">365</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-2  info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Precio Colocación</h5>
                  <p class="titulo-sustinable">100</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1  info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Amortización</h5>
                  <p class="titulo-sustinable">Bullet</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Cupón</h5>
                  <p class="titulo-sustinable">4.375%</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Inicio</h5>
                  <p class="titulo-sustinable">11/02/23</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Vencimiento</h5>
                  <p class="titulo-sustinable">11/02/28</p>
                </div>
              </div>
              <div class="col-12 col-md-6  col-lg-4  col-xl-1 info-item">
                <div class="section">
                  <h5 class="titulo-pequeño-semi-azul">Plazo</h5>
                  <p class="titulo-sustinable">5 años</p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>



      <!-- Tercer Row -->
      <div class="my-5">
        <div class="row">
          <h3 class="col-12 titulo-mediano-verde">Dividendos</h3>
          <!-- Tabla -->
          <div class="col-12">
            <div class="table-responsive dividendos">
              <table class="table">
                <thead>
                  <tr class="d-flex">
                    <th class="col-4 text-start ps-0 pe-3">Categoría</th>
                    <th class="col-3 text-start px-5">Fecha de registro</th>
                    <th class="col-3 text-start px-5">Fecha de Pago</th>
                    <th class="col-2 text-start ps-5 pe-0">Costo por acción</th>
                  </tr>
                </thead>
                <tbody class="tbody-table">
                  <tr class="d-flex">
                    <td class="col-4 text-start ps-0 pe-3">Share Premium</td>
                    <td class="col-3 text-start px-5">11/02/22</td>
                    <td class="col-3 text-start px-5">11/02/22</td>
                    <td class="col-2 text-start ps-5 pe-0">US$ 1.03</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4 text-start ps-0 pe-3">Share Premium</td>
                    <td class="col-3 text-start px-5">11/02/23</td>
                    <td class="col-3 text-start px-5">11/02/23</td>
                    <td class="col-2 text-start ps-5 pe-0">US$ 1.43</td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-4 text-start ps-0 pe-3">Dividendo</td>
                    <td class="col-3 text-start px-5">11/02/24</td>
                    <td class="col-3 text-start px-5">11/02/24</td>
                    <td class="col-2 text-start ps-5 pe-0">US$ 0.31</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>




        </div>
      </div>
  </div>
  </div>

</section>
<!-- fin de seccion mercado de capitales -->
 <!-- Inicio reportes -->
 <section class="contenedor-section section-background-2 ">
  <div class="container-fluid my-lg-5 my-md-0">
    <p class="mb-5 tit-interno">Reportes</p>
    <div class="row d-flex justify-content-center ">
      <!-- Tarjeta 1 -->
      <div
        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
      >
        <div class="card4 cards-reporte d-flex  justify-content-start">
          <div class="card-img-container me-3">
            <img src="assets/images/reporte3.png" class="card-img-top" alt="Imagen 2" />
          </div>
          <div class="card4-body ms-xxl-2 ms-xl-1 ms-lg-0 ">
            <p class="card4-title">
              <span class="">Memoria Anual</span>
            </p>
            <div class="card4-footer">
              <p class="mb-0 card4-footer m-0">PDF 12.5Mb</p>
              <a routerLink="/" class="btn-descargar ms-sm-0 ms-sm-0 ms-xxl-4 ms-lg-0" download>
                Descargar
                <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
      >
        <div class="card4 cards-reporte d-flex  justify-content-start">
          <div class="card-img-container me-3">
            <img src="assets/images/reporte2.png" class="card-img-top" alt="Imagen 2" />
          </div>
          <div class="card4-body ms-xxl-2 ms-xl-1 ms-lg-0">
            <p class="card4-title">
              <span class="">Presentación Corporativa</span>
            </p>
            <div class="card4-footer">
              <p class="mb-0 card4-footer m-0">PDF 12.5Mb</p>
              <a routerLink="/" class="btn-descargar ms-sm-0 ms-sm-0 ms-xxl-4 ms-lg-0" download>
                Descargar
                <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
      >
        <div class="card4 cards-reporte d-flex  justify-content-start">
          <div class="card-img-container me-3">
            <img src="assets/images/reporte1.png" class="card-img-top" alt="Imagen 2" />
          </div>
          <div class="card4-body ms-xxl-2 ms-xl-1 ms-lg-0">
            <p class="card4-title">
              <span class="">Reporte de Sostenibilidad 2024</span>
            </p>
            <div class="card4-footer">
              <p class="mb-0 card4-footer m-0">PDF 12.5Mb</p>
              <a routerLink="/" class="btn-descargar ms-sm-0 ms-sm-0 ms-xxl-4 ms-lg-0" download>
                Descargar
                <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="mt-3">
        <app-button

              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver todos los reportes"
              textColor="#0063f9"
            >
            </app-button>
        <!-- <a routerLink="/inversiones-reportes/reportes" class="btn-vermas">
          <span class="flecha-circular"
            ><i class="fas fa-arrow-right flecha-ver-mas"></i
          ></span>
          ver todos los reportes
        </a> -->
      </div>
    </div>
  </div>
 </section>

 <!-- Fin reportes -->

 <!-- section documentos coporativos -->
 <section class="contenedor-section section-background-2">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="mb-5 title-interna-index">Documentos Corporativos</p>
      <!-- Cuarto div -->
      <div class="d-flex align-items-center mb-4 content-listado flex-wrap justify-content-center">
        <i class="fas fa-arrow-right flecha-blue me-3"></i>
        <div class="flex-grow-0 flex-lg-grow-1">
          <p class="mb-0 listado">Documentos de Gobierno Corporativo</p>
        </div>
        <div>
          <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0  me-lg-0 ms-lg-2 " download>

            <span class="flecha-circular"
              ><i class="fas fa-minus"></i></span>
          </a>
        </div>
      </div>
       <!-- Cuarto div -->
       <div class="d-flex align-items-center mb-4 content-listado flex-wrap justify-content-center">
        <i class="fas fa-arrow-right flecha-blue me-3"></i>
        <div class="flex-grow-0 flex-lg-grow-1">
          <p class="mb-0 listado">Políticas</p>
        </div>
        <div>
          <a routerLink="/" class="btn-descargar btn-ver me-sm-0 ms-sm-0  me-lg-0 ms-lg-2 " download>
            <span class="flecha-circular"
              ><i class="fas fa-minus"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- Fin section documentos coporativos -->

 <!-- section Relacion con Inversionistas -->
 <section class="contenedor-section section-background-7">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="tit-interno mb-5">Relación con Inversionistas</p>
      <p class="mb-5 titulo-semi-pequeño-azul-marino">Contacto con Inversionistas</p>
      <div>
         <!-- Fila principal con los títulos -->
        <div class="row d-flex justify-content-between">
          <div class="col-xl-7 col-lg-8  col-md-12 ">
            <h3 class="titulo-pequeño-azul-bold">Relación con Inversionistas:</h3>
            <div class="row mt-3 titulo-pequeño-azul-marino d-flex justify-content-between">
              <!-- Columna 1: Gabriel Ayllon -->
              <div class="col-md-5">
                <h5 class="titulo-pequeño-azul-marino-bold">Gabriel Ayllon García</h5>
                <p>Director de Finanzas</p>
                <p><u>gabriel.ayllon&#64;minsur.com</u></p>
              </div>
              <!-- Columna 2: Liz Guevara -->
              <div class="col-md-5">
                <h5 class="titulo-pequeño-azul-marino-bold">Liz Guevara</h5>
                <p>Jefe de Planeamiento & Control de Gestión</p>
                <p><u>liz.guevara&#64;minsur.com</u></p>
              </div>
            </div>
            <div class="row mt-3 titulo-pequeño-azul-marino d-flex justify-content-between">
              <div class="col-md-5">
                <h5 class="titulo-pequeño-azul-marino-bold">Jesús Bustamante</h5>
                <p>Gerente de Planeamiento Financiero Costos y Estrategia</p>
                <p><u>jesus.bustamante&#64;minsur.com</u></p>
              </div>
              <div class="col-md-5">
                <h5 class="titulo-pequeño-azul-marino-bold">Contacto</h5>
                <p><u>contacto_IR&#64;minsur.com</u></p>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4  col-md-12 titulo-pequeño-azul-marino">
            <h3 class="titulo-pequeño-azul-bold">Contacto para acciones de Inversión:</h3>
            <div class="row mt-3">
              <!-- Columna de contacto -->
              <div class="col-12">
                <h5 class="titulo-pequeño-azul-marino-bold">Nataly Robles</h5>
                <p>matricula&#64;cavali.com.pe</p>
                <p>+51 1 311-2200 / Anx. 3283/3266</p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </section>

  <!-- Fin section Relacion con Inversionistas -->
  <section class="contenedor-section section-background-7">
    <div class="my-lg-5 my-md-0">
      <div class="container-fluid">
        <p class="mb-5 title-interna-index">Calendario</p>

          <div class="row">
            <!-- Tabla -->
            <div class="col-12">
              <div class="table-responsive calendario">
                <table class="table">
                  <thead class="">
                    <tr>
                      <th>Fecha</th>
                      <th>Evento</th>

                    </tr>
                  </thead>
                  <tbody class="">
                    <tr>
                      <td>11/02/22</td>
                      <td>1Q23 Earnings call Inversionistas</td>

                    </tr>
                    <tr>
                      <td>11/02/22</td>
                      <td>1Q23 Earnings call Inversionistas</td>

                    </tr>
                    <tr>
                      <td>11/02/22</td>
                      <td>1Q23 Earnings call Inversionistas</td>

                    </tr>
                    <tr>
                      <td>11/02/22</td>
                      <td>1Q23 Earnings call Inversionistas</td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

      </div>
    </div>
  </section>
