

<!-- seection del breadcrumb -->
<!-- <section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="/sostenibilidad" class="texto-minimo-blanco">Sosteibilidad</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">Ciuidado Ambiental</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section> -->
<app-breadcrumbs></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/cuidado_ambiental.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Cuidado Ambiental</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Nos enfocamos en la prevención, mitigación y reducción para ser responsables con nuestro entorno.</h1>
              <p>
                Nuestra visión y compromiso con la protección y cuidado del medio ambiente se reflejan en nuestras Políticas
                 y Estándares sobre temas clave como la gestión del agua, el cierre de minas, la biodiversidad y el cambio climático,
                  cumpliendo con rigurosas normativas locales e internacionales. Monitoreamos los avances ambientales a través de comité
                   especializados, identificando oportunidades de mejora y garantizando la alineación con los objetivos de sostenibilidad
                    de la empresa. Nuestro sistema de gestión ambiental, certificado bajo la norma ISO 14001, asegura el cumplimiento normativo
                     y está basado en el principio de mejora continua. Este sistema es revisado regularmente y es de cumplimiento obligatorio
                     tanto para la compañía como para los contratistas, quienes deben seguir lineamientos específicos en todas sus actividades.

              </p>

            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/cuidado_ambiental_1.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                En nuestras operaciones, implementamos programas de monitoreo, inspecciones y auditorías ambientales internas, adaptadas
                al ciclo de vida de las minas y a la criticidad de las instalaciones. Además, fomentamos la circularidad mediante el uso
                 eficiente del agua, la energía y los materiales, minimizando los residuos y garantizando una gestión ambiental responsable.
                  Capacitamos a nuestros empleados para que comprendan el impacto de sus actividades en el medio ambiente, integrando
                  la gestión ambiental en todas las áreas. Los resultados se miden mediante indicadores ambientales, y
                  los avances se informan mensualmente a los comités directivos y al CEO, asegurando
                   así la mejora continua en el desempeño ambiental.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
