
<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('../../../../../assets/images/fondo_derechos_humanos.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Derechos Humanos</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-3 my-md-1">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <h1>Derechos humanos: prevención, protección y respuesta</h1>
              <p>
                Nuestro compromiso con el respeto a los derechos humanos se implementa a través de un proceso
                de debida diligencia, una herramienta de gestión que nos permite evaluar y prevenir cualquier
                impacto directo o indirecto sobre nuestras partes interesadas y el medio ambiente. Este proceso está alineado
                con los Principios Rectores sobre Empresas y Derechos Humanos de las Naciones Unidas, la Guía de Debida Diligencia de
                 la OCDE para una Conducta Empresarial Responsable, y la Guía de Debida Diligencia en Derechos Humanos del ICMM.


              </p>
              <div class="my-5">
                <a href="/" >Ver Política de Derechos Humanos</a>

              </div>
              <p>
                Asuntos relevantes en Derechos Humanos:
              </p>
              <ul>
                <li>
                  Condiciones laborales y calidad de vida
                </li>
                <li>
                  Seguridad y salud
                </li>
                <li>
                  Trabajo infantil y forzado Hostigamiento sexual laboral

                </li>
                <li>
                  Diversidad e inclusión
                </li>
                <li>
                  Seguridad patrimonial
                </li>
                <li>
                  Libertad de asociación y negociación colectiva
                </li>
              </ul>
              <div class="my-5">
                <a href="/" >Ver Política en materia de Derechos Humanos</a>

              </div>

            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_derechos_humanos.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Contamos con mecanismos de reclamación que nos permiten identificar posibles incumplimientos,
                responder de manera oportuna a las inquietudes de nuestros colaboradores y grupos de interés,
                investigar incidentes potenciales, corregir conductas inadecuadas y retroalimentar la gestión
                para incorporar las lecciones aprendidas.

              </p>
              <div class="my-5">
                <a href="/" >Ver Canal de Integridad</a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




