

<app-breadcrumbs link="/que-hacemos"></app-breadcrumbs>


<div class="extra-fondo">
  <app-imagen-view
  [backgroundImage]="'assets/images/san-rafael.png'"
  [title]="'Unidad Minera San Rafael'"
  [description]="''"
  [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
  [videoThumbnail]="'assets/images/que-hacemos-video.png'"
  [mode]="'video'"
  [videoText]="'CONOCE LA UNIDAD MINERA SAN RAFAEL'"
>
</app-imagen-view>
</div>

<!-- Fin de fondo con texto -->


 <!-- secction texto y descargar -->
<section class="contenedor-section section-background-2">
    <div class="container-fluid my-lg-5 my-md-0">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-lg-10">
            <div class="texto-base">
              <p>
                La UM San Rafael desempeña un papel crucial en la producción de estaño del Perú y del mundo.
                 Se trata de una operación subterránea que utiliza procesos de concentración gravimétrica y
                  flotación para obtener un estaño de alta pureza. Además, complementa los aportes regulares
                   de la mina con el material proveniente del ore sorting, proceso de tecnología alemana que,
                   mediante el uso de rayos X, analiza la composición de las rocas e identifica aquellas que
                   contienen estaño. En 2023, a pesar de las interrupciones operativas debido a la crisis social,
                   alcanzamos una producción combinada de San Rafael y B2 de 26,228 toneladas de estaño.
              </p>

            </div>
        </div>

      </div>
    </div>
</section>
   <!-- Fin secction texto y descargar -->
    <!-- Inicio de sección de números grandes -->
<section class="contenedor-section section-background-9">
  <div class="container-fluid  my-lg-5 my-md-0">
    <div class="row text-center">
      <div class="col-md-6 col-xl-4 p-5">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">XXX</h3>
        <p class="texto-base pt-5">Para lograr una gestión responsable, consideramos aspectos sociales.</p>
      </div>

      <div class="col-md-6 col-xl-4 p-5 border-start border-end">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">2.43%</h3>
        <p class="texto-base pt-5">de ley promedio de tratamiento en 2023</p>
      </div>

      <div class="col-md-6 col-xl-4 p-5">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">26,200</h3>
        <p class="texto-base pt-5">toneladas de fino se produjeron en 2023 en la UM San Rafael y en la planta B2</p>
      </div>
    </div>
  </div>

</section>
 <!-- Fin de sección de números grandes -->
<section class="contenedor-section section-background-2 ">

    <div class="container-fluid my-lg-5 my-md-0">
      <div class="col-lg-10 mx-auto">
        <div class="row align-items-center pb-5">
          <div class="col-md-12 mb-3 mb-md-0">
            <p class="title-interna-index mb-0">Más Información</p>
          </div>

        </div>
        <div class="pt-lg-5 pt-sm-0">
            <!-- Primer div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
            <!-- Flecha y texto alineados en la misma línea -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <p class="mb-0 listado">Informe de Monitoreo Ambiental </p>
            </div>
            <div class="card4-footer">
              <div
                class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
              >
              <p class="m-0 card4-footer">PDF 12.5MB</p>
            </div>
            <app-button-descargar
            link="/"
            defaultBorderColor="#0063f9"
            defaultStrokeColor="#0063f9"
            hoverStrokeColor="#ffffff"
            label="descargar"
            textColor="#0063f9"
          ></app-button-descargar>
            <!-- <a
              routerLink="/"
              class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-0 p-3"
              download
            >
              Descargar
              <span class="flecha-circular"
                ><i class="fas fa-arrow-down"></i
              ></span>
            </a> -->
            <a
              routerLink="/"
              class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3"
              download
            >
              ver
              <span class="flecha-circular"
                ><i class="fas fa-arrow-right"></i
              ></span>
            </a>
            </div>

            </div>


            <!-- Segundo div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">
                <i class="fas fa-arrow-right flecha-blue me-3"></i>
                <p class="mb-0 listado">Compromisos </p>
              </div>
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="descargar"
              textColor="#0063f9"
            ></app-button-descargar>
              <!-- <a
                routerLink="/"
                class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-0 p-3"
                download
              >
                Descargar
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-down"></i
                ></span>
              </a> -->
              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
              </div>

            </div>

            <!-- Tercer div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">
                <i class="fas fa-arrow-right flecha-blue me-3"></i>
                <p class="mb-0 listado">Política de Derechos Humanos </p>
              </div>
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="descargar"
              textColor="#0063f9"
            ></app-button-descargar>
              <!-- <a
                routerLink="/"
                class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-0 p-3"
                download
              >
                Descargar
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-down"></i
                ></span>
              </a> -->
              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
              </div>

            </div>

            <!-- Cuarto div -->
            <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
              <!-- Flecha y texto alineados en la misma línea -->
              <div class="d-flex align-items-center flex-grow-1">
                <i class="fas fa-arrow-right flecha-blue me-3"></i>
                <p class="mb-0 listado">Política Corporativa de Diversidad e Inclusión  </p>
              </div>
              <div class="card4-footer">
                <div
                  class="flex-grow-0 flex-lg-grow-1 d-flex align-items-center justify-content-end me-sm-0 ms-sm-0 me-lg-5"
                >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="descargar"
              textColor="#0063f9"
            ></app-button-descargar>
              <!-- <a
                routerLink="/"
                class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-0 p-3"
                download
              >
                Descargar
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-down"></i
                ></span>
              </a> -->
              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
              </div>

            </div>
        </div>
      </div>
    </div>
</section>
 <!-- seccion  cards unidades -->
<section class="contenedor-section section-background-7">
  <app-card-unidades></app-card-unidades>
</section>

  <!-- fin seccion  cards unidades  -->




