<!-- seccion cabcera -->

<section class="contenedor-section section-background-7 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item active bread-azul titulo-pequeño-semi-azul" aria-current="page">Producción Responsable</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas">
            <span class="flecha-circular"
              ><i class="fas fa-arrow-left flecha-ver-mas"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
    <div class="my-lg-5 my-md-0">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="titulo-super-grande-azul">Trazabilidad</h1>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- seccion cabcera -->

<!-- secction texto y descargar -->
<section class="contenedor-section section-background-2">
<div class="container-fluid my-lg-5 my-md-0">
  <div class="row d-flex justify-content-between">
    <div class="col-sm-12 col-lg-9">
      <div class="row mt-lg-5 mt-sm-2">
        <div class="col-lg-12">
          <div class="titulo-realeway-mediano">
            <p>
              Conscientes de la necesidad global de contar con mecanismos que generen confianza sobre la procedencia del estaño para todos los actores vinculados a la cadena de valor, Minsur ha implementado una plataforma que utiliza tecnología avanzada para trazar el estaño que produce.
            </p>

          </div>
        </div>
      </div>
      <div class="row mt-lg-5 mt-sm-2">
        <div class="col-lg-12">
          <img
              src="../../../../../../assets/images/trazabilidad_1.png"
            alt="Imagen"
            class="img-fluid mb-3"
        />
        </div>
      </div>
      <div class="row mt-lg-5 mt-sm-2">
        <div class="col-lg-12">
          <div class="titulo-realeway-mediano">
            <p>
              La plataforma desarrollada en colaboración con la firma alemana Minespider, posiciona a Minsur como la primera minera en el mundo en aplicar la tecnología de la blockchain para verificar el origen de toda su producción de estaño.
            </p>
            <p>
              Esta innovación permite a las empresas que comercializan y transforman el estaño demostrar que el origen del mineral adquirido no estuvo asociado con situaciones de violencia o vulneración de derechos fundamentales.

            </p>
            <p>
              Este hito refleja el liderazgo de Minsur en el sector minero a nivel mundial y su firme compromiso con un futuro más transparente y ético.

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-2">
      <p class="titulo-azul-mediano">Descargas</p>
      <div class="col-12 col-lg-12 d-flex justify-content-center justify-content-lg-start">
        <div class="card4">
          <img src="../../../../../../assets/images/reporte3.png" class="card-img-container" alt="Imagen de muestra">
          <div class="card-body  mt-3">
            <h5 class="titulo-pequeño-azul-marino-bold">Paper sobre Trazabilidad</h5>
          </div>
          <div class="border-top  d-flex  justify-content-between pt-3 text-lg-end text-md-center">
            <span class="mb-0 card4-footer m-2">PDF 12.5Mb</span>
            <a routerLink="/" class="btn-descargar" download>
              Descargar
              <span class="flecha-circular"
                ><i class="fas fa-arrow-down"></i
              ></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>
<!-- Fin secction texto y descargar -->
 <!-- seccion  Produccion rsponsable-->
<section class="contenedor-section section-background-7">
<app-card-produccion-responsable [descripcion] = "false" cardRadius="cardradius"></app-card-produccion-responsable>
</section>

<!-- fin seccion que producimos -->


