
<!-- seection del breadcrumb -->
<!-- <section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="/sostenibilidad" class="texto-minimo-blanco">Sosteibilidad</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">Comunidades</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section> -->
<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fono_comunidades.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Comunidades</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Fortalecemos lazos de confianza con nuestras comunidades a través de una comunicación abierta y cercana.</h1>
              <p>
                Creemos en el desarrollo colectivo. Por eso, trabajamos para fortalecer los vínculos con las comunidades cercanas, fomentando el diálogo y creando relaciones que promuevan el crecimiento conjunto, beneficiando tanto a nuestra empresa como a nuestros vecinos.
              </p>
              <p>
                Contamos con un Sistema de Gestión Social que nos permite integrar los aspectos sociales en todas nuestras decisiones, asegurando el cumplimiento del marco regulatorio, los estándares internacionales y las mejores prácticas de la industria.

              </p>
              <p>
                Nuestros Planes de Gestión Social son revisados periódicamente en los Comités de Operaciones para garantizar la transparencia y el seguimiento de todos los asuntos sociales. Además, llevamos a cabo auditorías internas y externas que verifican el cumplimiento de nuestros compromisos y aseguran la efectividad de nuestras acciones.

              </p>
            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_comunidades.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Diseñamos e implementamos programas que responden a las necesidades de nuestras comunidades vecinas. Nuestro Enfoque Ayni y las Oficinas de Información Permanente nos permiten trabajar mano a mano con las comunidades, identificando sus necesidades y co-creando proyectos que promuevan el desarrollo local y la mejora de la calidad de vida.

              </p>
              <p>
                Por su parte, nuestro programa Volar, en alianza con Aporta, plataforma de innovación e impacto social del Grupo Breca, empodera a cuidadores y mejora el desarrollo de miles de niños en regiones como Antauta y Larimayo. Además, a través de nuestra Clínica Móvil y el fortalecimiento de la infraestructura de salud local, garantizamos el acceso a servicios médicos de calidad para toda la comunidad.

              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




