<section class="seccion_alta_gerencia pb-5">
  <div class="container-fluid">
    <div class="py-lg-5 py-sm-3 py-2">
      <div class="mb-sm-5 mb-2">

        <a routerLink="/quienes-somos" class="d-flex justify-content-end btn-vermas-blanco"
          ><span  class="flecha-circular-blanco"
            ><i
              class="fas fa-arrow-right flecha-ver-mas-blanco"
            ></i
          ></span>
          Volver
        </a>
      </div>
      <div class="container_alta_gerencia">
        <div class="col-12 row mx-auto ps-lg-5 ps-sm-3 px-1 px-lg-0">
          <div
            class="col-md-6 p-lg-5 p-lg-4 p-3 d-flex flex-column justify-content-center"
          >
            <h2 class="pe-5 pe-sm-3 pe-2  news_title_detalle">
              Juan Luis Kruger
            </h2>
            <p class="text_ceo">
              <i class="fas fa-arrow-right me-1" style="color: #0063f9"></i>CEO
            </p>
            <span class="news_date_detalle"> Nombrado en 2010 </span>
          </div>

          <!-- Sección de Imagen -->
          <div class="col-md-6 news-image px-0">
            <img src="assets/images/ceo.png" alt="Noticia" class="img-fluid" />
          </div>
        </div>

        <div class="px-lg-5 px-sm-3 px-2">
          <div class="col-12 row px-lg-5 px-sm-4 px-1 pt-lg-5 pt-sm-4 pt-3">
            <div class="col-lg-10 pb-lg-4 pb-2 detalle_texto">
              <p>
                Gerente General de Minsur desde marzo de 2013. Graduado en
                Administración de Empresas por la Universidad del Pacífico,
                Perú, y con un MBA de la Universidad de Harvard, Estados Unidos,
                cuenta con más de 20 años de experiencia en posiciones de alta
                gerencia en compañías multinacionales como Gold Fields, LAN Perú
                y Glencore.
              </p>
              <p>
                Como CEO de Minsur, ha impulsado un fuerte compromiso con la
                sostenibilidad y la innovación. Bajo su liderazgo, se han
                fortalecido las prácticas de gobernanza corporativa y
                desarrollado proyectos clave enfocados en la responsabilidad
                ambiental y social. En esa línea, afirmó que “la industria
                minera tiene que afianzar la comunicación con las comunidades
                para generar confianza y contribuir al crecimiento y desarrollo
                de las regiones a largo plazo”.
              </p>
              <p>
                Del mismo modo, ha asegurado que “la minería peruana está en una
                posición excepcional para convertir los desafíos en
                oportunidades que permitan alcanzar un futuro más sostenible”.
                Para ello, en sus palabras, es trascendental “poner a las
                personas en el centro, diversificar la producción y promover el
                comercio justo de minerales a través de esquemas de
                trazabilidad”.
              </p>
              <p>
                Con una sólida formación académica y una visión estratégica,
                Juan Luis Kruger ha sido fundamental para posicionar a Minsur
                como un referente en la industria. Al respecto, señaló que
                algunas de las claves de su éxito es que “tenemos un gran
                equipo, una estrategia clara y trabajamos en función de un
                propósito: mejorar la vida transformando minerales en
                bienestar”.
              </p>
            </div>
            <div
              class="col-lg-2 d-flex align-items-end flex-column compartir_container"
            >
              <div class="d-flex flex-column">
                <span class="text-compartir mb-2">Compartir</span>
                <div class="d-flex flex-column">
                  <a href=""
                    ><span
                      ><i
                        class="fa-brands fa-linkedin-in me-2 py-lg-3 py-2"
                      ></i></span
                    >LINKEDIN</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
