.seccion_alta_gerencia{
  background-color: #004891;
}
.container_alta_gerencia{
  background-color: #fff;
  border-radius: 20px;
}
.container_alta_gerencia .news_date_detalle{
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-24);
  line-height: 29px;
  color: var(--unnamed-color-004891);

  letter-spacing: 0;
  text-align: left;

}
.container_alta_gerencia .news_title_detalle{
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-56);
  line-height: 66px;
  color: var(--unnamed-color-0063f9);

  letter-spacing: 0;
  text-align: left;

}
.container_alta_gerencia .text_ceo{
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-32);
  line-height: 66px;
  color: var(--unnamed-color-36404e);

  letter-spacing: 0;
  text-align: left;
}

.flecha-circular-detalle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Tamaño inicial del círculo */
  height: 30px; /* Tamaño inicial del círculo */
  background-color: inherit;
  border: 2px solid #0063f9; /* Borde del círculo */
  border-radius: 50%; /* Asegura que el contenedor sea un círculo */
  transition: all 0.3s ease; /* Animación para agrandar el círculo */
  margin-right: 0.5rem;
}
.compartir_container span i{
  width: 20px;
}
.compartir_container a{
  border-bottom: 1px solid #D4D9E7;
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-18);
  line-height: 24px;
  color: var(--unnamed-color-004891);

  letter-spacing: -0.36;
  text-align: left;
  text-decoration: none;
}
.compartir_container a:hover{
  text-decoration: underline;
  color: var(--unnamed-color-0063f9);
}
.compartir_container .text-compartir{
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-16);
  line-height: 24px;
  color: var(--unnamed-color-9FB5C9);

  letter-spacing: -0.32;
  text-align: left;
}

.container_alta_gerencia .news-image img {
  height: calc(100% + 40px);
  object-fit: cover;
  width:100%;
  position: relative;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container_alta_gerencia .detalle_texto{
  border-bottom: 1px solid #D4D9E7;
}
.container_alta_gerencia .detalle_texto p{
  font-family: var(--unnamed-font-family-raleway);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-24);
  line-height: 38px;
  color: var(--unnamed-color-36404e);

  letter-spacing: -0.24;
  text-align: left;
}
.container_alta_gerencia .presentacion_corporativa{
  padding: 3rem 3rem 5rem 3rem;
}
.container_alta_gerencia .presentacion_corporativa .presentacion_text{
  font-family: var(--unnamed-font-family-merriweather);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-500);
  font-size: var(--unnamed-font-size-32);
  line-height: 34px;
  color: var(--unnamed-color-36404e);

  letter-spacing: -0.8;
  text-align: left;
}
@media (max-width: 768px) {
  .container_detalle_noticia .news-image img {
    height: calc(100%);
    object-fit: cover;
    position: relative;
  }

}
