<app-breadcrumbs link="/que-hacemos"></app-breadcrumbs>

<div class="extra-fondo">
  <app-imagen-view
    [backgroundImage]="'assets/images/pisco.png'"
    [title]="'Planta de Fundición y Refinería (PFR) Pisco'"
    [description]="''"
    [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
    [videoThumbnail]="'assets/images/imagen_video/que-hacemos-video.png'"
    [mode]="'video'"
    [videoText]="'CONOCE LA UNIDAD MINERA SAN RAFAEL'"
  >
  </app-imagen-view>
</div>

<!-- secction texto y descargar -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-lg-10">
        <div class="texto-base">
          <p>
            Nuestra PFR de Pisco, a la vanguardia de la tecnología, produce
            estaño de la más alta calidad gracias a la implementación de la
            tecnología de lanza sumergida y a la optimización continua de
            procesos, que permiten lograr una alta eficiencia en costos y
            tiempos de producción. Gracias a ello, alcanzamos una pureza
            promedio de 99,95 % y aleaciones con base de estaño de calidad
            mundial. Durante 2023, Pisco alcanzó el récord histórico en
            tratamiento mensual (7,239 toneladas mensuales) gracias a las
            mejoras en productividad como resultado de la consolidación del
            programa LINGO (Lean Management).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin secction texto y descargar -->
<!-- Inicio de sección de números grandes -->
<section class="contenedor-section section-background-9">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row text-center">
      <div class="col-md-6 col-xl-4 p-5">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">25,374</h3>
        <p class="texto-base pt-5">
          toneladas de estaño refinado producidas en 2023
        </p>
      </div>

      <div class="col-md-6 col-xl-4 p-5 border-start border-end">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">39.2%</h3>
        <p class="texto-base pt-5">
          de ley promedio de concentrado de estaño alimentado en 2023
        </p>
      </div>

      <div class="col-md-6 col-xl-4 p-5">
        <h3 class="numero-grande-2 pb-lg-5 pb-md-0">7,239</h3>
        <p class="texto-base pt-5">
          toneladas se trataron mensualmente en 2023
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Fin de sección de números grandes -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="col-lg-10 mx-auto">
      <div class="row align-items-center pb-5">
        <div class="col-md-12 mb-3 mb-md-0">
          <p class="title-interna-index mb-0">Más Información</p>
        </div>
      </div>
      <div class="pt-lg-0 pt-sm-0">
        <div
          class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center"
        >
          <div class="col-12 col-md-8 d-flex align-items-center">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Informe de Monitoreo Ambiental</p>
          </div>
          <div
            class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end mt-2 mt-md-0 p-0"
          >
            <div class="card4-footer">
              <div
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-3 ms-lg-3 ms-3 me-3"
              >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>

              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 ms-3 ms-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center"
        >
          <div class="col-12 col-md-8 d-flex align-items-center">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Compromisos</p>
          </div>
          <div
            class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end mt-2 mt-md-0 p-0"
          >
            <div class="card4-footer">
              <div
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-3 ms-lg-3 ms-3 me-3"
              >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>

              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 ms-3 ms-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center"
        >
          <div class="col-12 col-md-8 d-flex align-items-center">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Política de Derechos Humanos</p>
          </div>
          <div
            class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end mt-2 mt-md-0 p-0"
          >
            <div class="card4-footer">
              <div
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-3 ms-lg-3 ms-3 me-3"
              >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>

              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 ms-3 ms-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center"
        >
          <div class="col-12 col-md-8 d-flex align-items-center">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">
              Política Corporativa de Diversidad e Inclusión
            </p>
          </div>
          <div
            class="col-12 col-md-4 d-flex align-items-center justify-content-center justify-content-md-end mt-2 mt-md-0 p-0"
          >
            <div class="card4-footer">
              <div
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-3 ms-lg-3 ms-3 me-3"
              >
                <p class="m-0 card4-footer">PDF 12.5MB</p>
              </div>
              <app-button-descargar
                link="/"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="descargar"
                textColor="#0063f9"
              ></app-button-descargar>

              <a
                routerLink="/"
                class="btn-descargar btn-ver me-sm-0 ms-sm-0 me-lg-0 ms-lg-3 ms-3 ms-3"
                download
              >
                ver
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-right"></i
                ></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- seccion  cards unidades -->
<section class="contenedor-section section-background-7">
  <app-card-unidades></app-card-unidades>
</section>
<!-- fin seccion  cards unidades  -->
