<app-imagen-view
  [backgroundImage]="'assets/images/que-hacemos.png'"
  [title]="'Qué Hacemos'"
  [description]="
    'Somos una minera peruana y extraemos lo mejor de la tierra para mejorar la vida de las personas.'
  "
  [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
  [videoThumbnail]="'assets/images/imagen_video/que-hacemos-video.png'"
  [mode]="'video'"
  [videoText]="'Conoce más sobre nuestras operaciones mineras'"
>
</app-imagen-view>
<!-- section proposito -->
<app-info-view-general
  [titulo1]="'Declaración'"
  [titulo2]="
    'Lideramos la transición hacia una minería sostenible y responsable.'
  "
  [descripcion]="
    'Desde hace 46 años, transformamos minerales en bienestar, impulsando el desarrollo sostenible en el Perú a través de la innovación y el compromiso con las comunidades.'
  "
></app-info-view-general>

<!-- fin section proposito -->
<!-- Inicio minsur way -->
<section class="contenedor-section section-background-1">
  <div class="container-fluid my-xxl-5 my-md-3">
    <div class="card9">
      <div class="row no-gutters">
        <!-- Segunda sección: Título, texto y nombre -->
        <div class="col-12 col-md-6">
          <p class="titulo-seccion tit-interno">Minsur Way:</p>
          <p class="titulo-seccion tit-interno">
            Creando valor a largo plazo con cada proyecto.
          </p>
          <p class="texto-seccion texto-base">
            Minsur Way es nuestro marco para desarrollar proyectos de inversión
            de manera eficiente y sostenible. Este proceso estructurado,
            alineado con nuestra estrategia y los estándares del ICMM, garantiza
            la creación de valor a largo plazo.
          </p>
        </div>
        <!-- Primera sección: Imagen y texto -->
        <div class="col-12 col-md-6 d-flex flex-column ps-md-5 ps-ms-0">
          <img
            src="../../../../../assets/images/personal_mineria.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <!-- Imagen -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fin minsur way -->
<section class="contenedor-section section-background-6">
  <div class="container-fluid my-xxl-5 my-md-3">
    <div class="card9">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex flex-column pe-md-5 pe-ms-0">
          <img
            src="../../../../../assets/images/personal_mineria2.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <!-- Imagen -->
        </div>

        <!-- Segunda sección: Título, texto y nombre -->
        <div class="col-12 col-md-6">
          <p class="titulo-seccion tit-interno">Qué Producimos</p>

          <p class="texto-seccion texto-base">
            ​​En Minsur, somos expertos en la producción de metales estratégicos
            como el estaño, el oro y el cobre. Nuestros procesos mineros
            responsables garantizan la más alta calidad y sostenibilidad ,
            generando un valor agregado que beneficia a nuestros clientes,
            comunidades y al planeta.
          </p>
        </div>
        <!-- Primera sección: Imagen y texto -->
      </div>
    </div>
  </div>
  <app-card-unidades></app-card-unidades>
</section>
<!-- fin section producimos -->

<!-- section oro y estaño -->
<section class="contenedor-section section-background-4">
  <div
    class="seccion-fondo"
    style="
      background: url('../../../../../assets/images/bg_estanio.png')
        center/cover no-repeat;
    "
  >
    <div class="container-fluid  mt-xxl-5 mb-0 mt-xl-0">
      <div class="row d-flex justify-content-start py-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-5 py-3">
          <div class="contenido-flotante p-xxl-5 p-xl-5 p-md-2">
            <p class="til-semigrande-azul-marino mb-xxl-5 mb-xl-3 mb-sm-2">Estaño</p>
            <p class="texto-base">
              Está presente en nuestra vida cotidiana y es fundamental para el
              futuro por su contribución a la descarbonización del planeta. Sus
              propiedades lo hacen esencial para la fabricación de latas para
              alimentos , dispositivos electrónicos, automóviles, estructuras de
              construcción, entre otros, que mejoran la vida de las personas.
            </p>
            <app-button

              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
            <!-- <a routerLink="/" class="btn-vermas">
              <span class="flecha-circular"
                ><i class="fas fa-arrow-right flecha-ver-mas"></i
              ></span>
              ver más
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="seccion-fondo"
    style="
      background: url('../../../../../assets/images/bg_oro.png') center/cover
        no-repeat;
    "
  >
    <div class="container-fluid mt-xxl-5 mb-0 mt-xl-2">
      <div class="row d-flex justify-content-end py-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-5 py-3">
          <div class="contenido-flotante p-xxl-5 p-xl-5 p-md-2">
            <p class="til-semigrande-azul-marino mb-xxl-5 mb-xl-3 mb-sm-2">Oro</p>
            <p class="texto-base">
              Es un metal precioso cuya versatilidad y propiedades han llevado a
              su demanda en constante aumento, siendo esencial en la fabricación
              de dispositivos electrónicos como chips de computadora, teléfonos
              móviles o dispositivos GPS.  Su uso también está extendido en
              componentes médicos y tecnología para exploración espacial, y
              además, actúa como reserva de valor en tiempos de incertidumbre
              económica.
            </p>
            <app-button

              link="/"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9"
            >
            </app-button>
            <!-- <a routerLink="/" class="btn-vermas">
              <span class="flecha-circular"
                ><i class="fas fa-arrow-right flecha-ver-mas"></i
              ></span>
              ver más
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  fin   oro estaño  -->
<!-- section producimos -->
