<section class="contenedor-section section-background-7 pb-5">
  <div class="container-fluid">
    <div class="py-lg-5 py-sm-3 py-2">
      <div class="mb-sm-5 mb-2">

        <a routerLink="/" class="d-flex justify-content-end btn-vermas"
          ><span  class="flecha-circular"
            ><i
              class="fas fa-arrow-left flecha-ver-mas"
            ></i
          ></span>
          Volver
        </a>
      </div>
      <div class="container_alta_gerencia style-comunicados">
        <div class="row">
          <div class="col-xxl-10 col-lg-8 col-md-12">
            <div class="col-12 row mx-auto ps-lg-5 ps-sm-3 ps-2">
              <div
                class="col-md-12 p-lg-5 p-lg-4 p-3 d-flex flex-column justify-content-center"
              >
                <h2 class="pe-5 pe-sm-3 pe-2 til-pequenio-azul mb-lg-5 mb-sm-2" style="font-weight: bold;">
                  COMUNICADO
                </h2>
                <span class="news_date_detalle mb-lg-5 mb-sm-2" style="font-weight: bold;"> 12 de Diciembre, 2024 </span>
                <p class="titulo-super-grande-azul-normal mb-lg-5 mb-sm-2">Alerta de Estafas</p>
              </div>


            </div>
            <div class="px-lg-5 px-sm-3 px-2">
              <div class="col-12 row px-lg-5 px-sm-4 px-3 pt-lg-5 pt-sm-4 pt-3">
                <div class="col-lg-12 pb-lg-4 pb-2 til-semi-pequenio" style="font-weight: 500;">
                  <p>
                    Hemos tomado conocimiento de que personas inescrupulosas vienen
                    tomando el nombre de Minsur o de alguno de nuestros ejecutivos para
                     solicitar dinero en favor de supuestas campañas de donación.

                    </p>
                  <p>
                    Les informamos que ni Minsur ni alguno de nuestros ejecutivos
                    solicita participación en donaciones o depósitos de ningún tipo. Menos
                    lo hace a través de solicitudes telefónicas o de whatsapp. En tal sentido,
                    recomendamos estar atentos, evitar ser sorprendidos y denunciar falsas solicitudes.


                  </p>
                  <p>
                    Atentamente,
                  </p>
                 <p>
                  MINSUR S.A.
                 </p>
                </div>

              </div>
            </div>

          </div>

          <div class="col-xxl-2 col-lg-4 col-md-12">
            <div class="col-md-12 p-lg-5 p-lg-4 p-3 d-flex flex-column
              align-items-md-center align-items-lg-end compartir_container text-center">
              <div class="d-flex flex-column w-100">
                <span class="text-compartir mb-2">Compartir</span>

                <div class="d-flex justify-content-lg-start  justify-content-center align-items-center my-2">
                  <a href="" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-brands fa-linkedin-in me-2 py-lg-3 py-2"></i>
                    <span>LINKEDIN</span>
                  </a>
                </div>

                <div class="d-flex justify-content-lg-start  justify-content-center   align-items-center my-2">
                  <a href="" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-solid fa-envelope-open-text me-2 py-lg-3 py-2"></i>
                    <span>EMAIL</span>
                  </a>
                </div>

                <div class="d-flex justify-content-center justify-content-lg-start align-items-center my-2">
                  <a href="" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-brands fa-facebook-f me-2 py-lg-3 py-2"></i>
                    <span>FACEBOOK</span>
                  </a>
                </div>

                <div class="d-flex justify-content-center  justify-content-lg-start  align-items-center my-2">
                  <a href="" class="d-flex align-items-center text-decoration-none">
                    <i class="fa-brands fa-x-twitter me-2 py-lg-3 py-2"></i>
                    <span>TWITTERS</span>
                  </a>
                </div>
              </div>
            </div>



          </div>
        </div>
        <div class="row">
          <div class="col-xxl-10 col-lg-8 col-md-12">
            <div class="py-5 col-12 row mx-auto ps-lg-5 ps-sm-3 ps-2">
              <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
                <!-- Flecha y texto alineados en la misma línea -->
                <div class="d-flex align-items-center flex-grow-1">
                  <i class="fas fa-arrow-right flecha-blue me-3"></i>
                  <p class="mb-0 listado">Comunicado Impreso </p>
                </div>
                <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
                <div class="mt-2 text-center">
                  <a routerLink="/" class="btn-descargar me-2" download>
                    Descargar
                    <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row align-items-center pb-5">
      <div class="col-md-10 mb-3 mb-md-0">
        <p class="tit-interno mb-0">Comunicados</p>
      </div>
      <div class="col-md-2 d-flex justify-content-end">
        <a routerLink="/noticias" class="btn-vermas" style="max-width: max-content">
          Ver Todos
          <span class="flecha-circular ms-2">
            <i class="fas fa-arrow-right flecha-ver-mas"></i>
          </span>

        </a>
      </div>
  </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Card 1 -->
      <div class="col">
        <div class="card h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-5">
            <small class="text-fecha">Junio, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Clínica móvil Minsur ha realizado más de 2,500 atenciones en Antauta y Ajoyani</p>
          </div>
          <div class="p-5 d-flex justify-content-end">
            <a routerLink="/" class="btn-vermas" style="max-width: max-content">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              Ver más
            </a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col">
        <div class="card h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-5">
            <small class="text-fecha">Mayo, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Formamos parte del índice de sostenibilidad de la BVL y S&P Dow Jones</p>
          </div>
          <div class="p-5 d-flex justify-content-end">
            <a routerLink="/" class="btn-vermas" style="max-width: max-content">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              Ver más
            </a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col">
        <div class="card h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-5">
            <small class="text-fecha">Abril, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Minsur es la primera empresa peruana en ser reconocida por el prestigioso Shingo Institute</p>
          </div>
          <div class="p-5 d-flex justify-content-end">
            <a routerLink="/" class="btn-vermas" style="max-width: max-content">
              <span class="flecha-circular">
                <i class="fas fa-arrow-right flecha-ver-mas"></i>
              </span>
              Ver más
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

