<section class="contenedor-section section-background-7 pb-5">
  <div class="container-fluid">
    <div class="py-lg-5 py-sm-3 py-2">
      <div class="mb-sm-5 mb-2">
        <div class="comunicado_flecha">
          <app-button-left
          link="/"
          defaultBorderColor="#0063f9"
          defaultStrokeColor="#0063f9"
          hoverStrokeColor="#7DF900"
          defaultBorderColor="transparent"
          label="VOLVER"
          textColor="#0063f9"
        >
        </app-button-left>
        </div>

      </div>
      <div class="container_alta_gerencia style-comunicados">
        <div class="row">
          <div class="col-xxl-10 col-lg-8 col-md-12">
            <div class="col-12 row mx-auto ps-lg-5 ps-sm-3 ps-2">
              <div
                class="col-md-12 p-lg-5 p-lg-4 p-3 d-flex flex-column justify-content-center"
              >
                <h2 class="pe-5 pe-sm-3 pe-2 til-pequenio-azul mb-lg-5 mb-sm-2" style="font-weight: bold;">
                  COMUNICADO
                </h2>
                <span class="news_date_detalle mb-lg-5 mb-sm-2" style="font-weight: bold;"> 12 de Diciembre, 2024 </span>
                <p class="titulo-super-grande-azul-normal mb-0">Alerta de Estafas</p>
              </div>


            </div>
            <div class="px-lg-5 px-sm-3 px-2">
              <div class="col-12 row px-lg-5 px-sm-4 px-3 pt-lg-5 pt-sm-4 pt-3">
                <div class="col-lg-12 pb-lg-4 pb-2 til-semi-pequenio-semibold">
                  <p>
                    Hemos tomado conocimiento de que personas inescrupulosas vienen
                    tomando el nombre de Minsur o de alguno de nuestros ejecutivos para
                     solicitar dinero en favor de supuestas campañas de donación.

                    </p>
                  <p>
                    Les informamos que ni Minsur ni alguno de nuestros ejecutivos
                    solicita participación en donaciones o depósitos de ningún tipo. Menos
                    lo hace a través de solicitudes telefónicas o de whatsapp. En tal sentido,
                    recomendamos estar atentos, evitar ser sorprendidos y denunciar falsas solicitudes.


                  </p>
                  <p>
                    Atentamente,
                  </p>
                 <p>
                  MINSUR S.A.
                 </p>
                </div>

              </div>
            </div>

          </div>

          <div class="col-xxl-2 col-lg-4 col-md-12">
            <div class="col-md-12 p-lg-5 p-lg-4 p-4 d-flex flex-column
              align-items-md-center align-items-lg-end compartir_container text-center">
              <div class="d-flex flex-column w-100">
                <span class="text-compartir mb-2">Compartir</span>
                <div class="d-flex flex-md-column flex-row">
                  <div class="d-flex justify-content-lg-start  justify-content-center align-items-center my-2">
                    <a href="" class="d-flex align-items-center text-decoration-none">
                      <i class="fa-brands fa-linkedin-in me-2 py-lg-3 py-2"></i>
                      <span class="d-none d-md-block">LINKEDIN</span>
                    </a>
                  </div>

                  <div class="d-flex justify-content-lg-start  justify-content-center   align-items-center my-2">
                    <a href="" class="d-flex align-items-center text-decoration-none">
                      <i class="fa-solid fa-envelope-open-text me-2 py-lg-3 py-2"></i>
                      <span class="d-none d-md-block">EMAIL</span>
                    </a>
                  </div>

                  <div class="d-flex justify-content-center justify-content-lg-start align-items-center my-2">
                    <a href="" class="d-flex align-items-center text-decoration-none">
                      <i class="fa-brands fa-facebook-f me-2 py-lg-3 py-2"></i>
                      <span class="d-none d-md-block">FACEBOOK</span>
                    </a>
                  </div>

                  <div class="d-flex justify-content-center  justify-content-lg-start  align-items-center my-2">
                    <a href="" class="d-flex align-items-center text-decoration-none">
                      <i class="fa-brands fa-x-twitter me-2 py-lg-3 py-2"></i>
                      <span class="d-none d-md-block">TWITTERS</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>



          </div>
        </div>
        <div class="row">
          <div class="col-xxl-10 col-lg-8 col-md-12">
            <div class="py-xl-5  py-2 col-12 row mx-auto ps-lg-5 ps-sm-3 ps-2">
              <div class="d-flex align-items-center mb-4 content-listado flex-row justify-content-md-between">
                <div class="d-flex align-items-center flex-grow-1">
                  <i class="fas fa-arrow-right flecha-blue me-3"></i>
                  <p class="mb-0 listado">Comunicado Impreso </p>
                </div>
                <app-button-descargar
                      link="/"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="descargar"
                      textColor="#0063f9"
                    ></app-button-descargar>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row align-items-center py-5">
        <div class="col-md-10 col-6 mb-3 mb-md-0">
          <p class="tit-interno mb-0">Comunicados</p>
        </div>
        <div class="col-md-2  col-6 d-flex justify-content-end">
          <a routerLink="/" class="btn-descargar btn-ver-comunicado">
            <span class="btn-label comunicados-label">
              VER TODOS</span
            >
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
            
          </a>
        
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3">
            <small class="text-fecha">Junio, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Clínica móvil Minsur ha realizado más de 2,500 atenciones en Antauta y Ajoyani</p>
          </div>
          <div class="p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3 d-flex justify-content-end">
            <a routerLink="/" class="btn-descargar btn-ver-comunicado">
              <span class="btn-label">
                VER MÁS</span
              >
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
              
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3">
            <small class="text-fecha">Mayo, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Formamos parte del índice de sostenibilidad de la BVL y S&P Dow Jones</p>
          </div>
          <div class="p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3 d-flex justify-content-end">
            <a routerLink="/" class="btn-descargar btn-ver-comunicado">
              <span class="btn-label">
                VER MÁS</span
              >
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
              
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-comunicados h-100 d-flex flex-column justify-content-between" style="border-radius: 0px;">
          <div class="card-body p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3">
            <small class="text-fecha">Abril, 2024</small>
            <p class="card-title mt-5 tit-pequeño">Minsur es la primera empresa peruana en ser reconocida por el prestigioso Shingo Institute</p>
          </div>
          <div class="p-xxl-5 p-xl-4 p-md-3 p-sm-2 p-3 d-flex justify-content-end">
            <a routerLink="/" class="btn-descargar btn-ver-comunicado">
              <span class="btn-label">
                VER MÁS</span
              >
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
              
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

