<div class="my-xxl-5 my-xl-2">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let card of cards" class="col px-0">
      <div class="card card12 h-100">
        <div class="card-body text-center text-md-start pb-0">
          <img
            [src]="card.image"
            class="card-img-top"
            style="max-width: 28px; max-height: 30px; min-height: 30px"
            [alt]="card.title"
          />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center text-md-start tit-pequeño">{{ card.title }}</h5>
          <p class="card-text texto_base card-body-sostenibilidad flex-grow-0 flex-lg-grow-1 mb-0 mb-md-3">
            {{ card.text }}
          </p>
          <hr class="my-xxl-3 my-xl-3" />
          <div class="d-md-block d-flex justify-content-center">

            <app-button link="{{ card.route }}"> </app-button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
