<section class="seccion_detalle_noticia pb-5">
  <div class="container-fluid">
    <div class="py-lg-5 py-sm-3 py-2">
      <div class="mb-sm-5 mb-2">
        <a routerLink="/noticias" class="d-flex justify-content-end btn-vermas">
          <span class="flecha-circular-detalle"
            ><i class="fas fa-arrow-left flecha-ver-mas"></i
          ></span>
          Volver
        </a>
      </div>
      <div class="px-lg-5 px-lg-3 px-md-0">
        <div class="container_detalle_noticia">
          <div class="col-12 row mx-auto">
            <div
              class="col-md-6 p-lg-5 p-lg-4 p-3 d-flex flex-column justify-content-center"
            >
              <div>
                <p class="mb-lg-4 mb-lg-4 mb-2 news_date_detalle">
                  Junio, 2024
                </p>
                <h4 class="pe-lg-5 pe-md-0 pe-0 news_title_detalle">
                  Clínica móvil Minsur ha realizado más de 2,500 atenciones en
                  Antauta y Ajoyani
                </h4>
              </div>
            </div>

            <!-- Sección de Imagen -->
            <div class="col-md-6 news-image px-0">
              <img
                src="assets/images/noticia1.png"
                alt="Noticia"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-12 row px-lg-5 px-sm-4 px-3 pt-lg-5 pt-sm-4 pt-3">
            <div class="col-lg-10 pb-lg-4 pb-2 detalle_texto">

              <p>
                La Clínica Móvil Minsur, primera en su tipo y diseñada con
                tecnología de punta, entró en vigor en enero de este año, como
                parte de los compromisos del convenio marco de desarrollo firmado
                entre la empresa minera peruana y los distritos de su ámbito de
                influencia.
              </p>
              <p>
                Hasta la fecha ha realizado un total de 2,563
                atenciones a la población de Antauta y Ajoyani, zonas de
                influencia directa de la unidad minera San Rafael, en Puno.
              </p>
              <p>
                La
                clínica móvil es una iniciativa extraordinaria que permite acercar
                los servicios de salud a la población dispersa de zonas rurales,
                en un trabajo conjunto entre empresa privada y el Estado a través
                del MINSA y la Dirección Regional de Salud. Se trata de un bus
                acondicionado con equipamiento de última generación que permite
                cubrir las especialidades de Medicina General, Laboratorio,
                Oftalmología, Ginecobstetricia y ecografía 4D, entre otras.
                Además, es amigable con el medio ambiente, pues funciona con
                energía generada a través de paneles solares.
              </p>
              <p>
                Sandra Turpo, jefa
                del Centro de Salud de Antauta, indicó que la clínica móvil “es
                una extensión del centro de salud, dirigida a la población
                vulnerable que no puede asistir al establecimiento médico del
                distrito”. Explicó además que es un servicio gratuito y rotatorio
                que tiene como meta atender oportunamente y sensibilizar en temas
                de salud a las poblaciones alejadas de los distritos a través de
                campañas durante el año. 
              </p>
              <p>Por su lado, Lucía Ávila, gerente de
                Gestión Social de la mina San Rafael, aseguró que “Minsur prioriza
                la salud de las personas como parte de su propósito empresarial.
                La clínica móvil es un anhelo cumplido que será de enorme utilidad
                para el bienestar de la población. Es, además, un ejemplo de lo
                que se puede lograr trabajando junto con el Estado y las
                comunidades”. </p>
            </div>
            <div
              class="col-lg-2 d-flex align-items-end flex-column compartir_container"
            >
              <div class="d-flex flex-column">
                <span class="text-compartir mb-2">Compartir</span>
                <div class="d-flex flex-column">
                  <a href=""
                    ><span
                      ><i
                        class="fas fa-share-square me-2 py-lg-3 py-2"
                      ></i></span
                    >EMAIL</a
                  >
                  <a href=""
                    ><span
                      ><i
                        class="fa-brands fa-x-twitter me-2 py-lg-3 py-2"
                      ></i></span
                    >TWITTER</a
                  >
                  <a href=""
                    ><span
                      ><i
                        class="fa-brands fa-facebook-f me-2 py-lg-3 py-2"
                      ></i></span
                    >FACEBOOK</a
                  >
                  <a href=""
                    ><span
                      ><i
                        class="fa-brands fa-linkedin-in me-2 py-lg-3 py-2"
                      ></i></span
                    >LINKEDIN</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- <div
            class="d-flex justify-content-between presentacion_corporativa col-10 align-items-center"
          >
            <span class="presentacion_text"
              ><i class="fas fa-arrow-right flecha-blue me-3"></i>Presentacion
              corporativa</span
            >
            <a routerLink="/" class="btn-descargar" download>
              Descargar
              <span class="flecha-circular"
                ><i class="fas fa-arrow-down"></i
              ></span>
            </a>
          </div> -->
          <div class="row">
            <div class="col-xxl-10 col-lg-8 col-md-12">
              <div class="py-5 col-12 row mx-auto ps-lg-5 ps-sm-3 ps-2">
                <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
                  <!-- Flecha y texto alineados en la misma línea -->
                  <div class="d-flex align-items-center flex-grow-1">
                    <i class="fas fa-arrow-right flecha-blue me-3"></i>
                    <p class="mb-0 listado">Presentacion
                      corporativa </p>
                  </div>
                  <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
                  <div class="mt-2 text-center">
                    <a routerLink="/" class="btn-descargar me-2" download>
                      Descargar
                      <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-card-noticias></app-card-noticias>
</section>
