

<!-- seection del breadcrumb -->
<!-- <section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="/sostenibilidad" class="texto-minimo-blanco">Sosteibilidad</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">Gestion de proveedores</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section> -->
<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fondo_gestion_proveedores.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Gestión de proveedores</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Garantizamos el desarrollo y continuidad de nuestras operaciones a partir de una relación estrecha con nuestros proveedores y contratistas.</h1>
              <p>
                Nuestra cadena de suministro opera con un enfoque de sostenibilidad integral, priorizando relaciones colaborativas con proveedores y contratistas. Aplicamos criterios sociales, ambientales y de gobernanza para garantizar operaciones continuas y respetuosas con los derechos humanos. Además, nuestra gestión de compras responsable asegura el cumplimiento de los más altos estándares éticos.

              </p>
              <p>
                Para consolidar una cadena de suministro responsable y sostenible, promovemos la evaluación de proveedores con altos estándares de desempeño y fomentamos la contratación de proveedores locales.

              </p>

            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_gestion_proveedores.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Impulsamos el desarrollo económico local priorizando la contratación de bienes y servicios de proveedores ubicados en nuestras áreas de influencia. Al colaborar de cerca con emprendedores locales, contribuimos a fortalecer sus capacidades y generamos valor compartido en las comunidades donde operamos.

              </p>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

