<div class="container-fluid no-right">
  <p class="mb-xxl-5 title-interna-index" *ngIf="titleNoticias">Noticias</p>
  <div class=" g-4 justify-content-start justify-content-md-between noticias-container"  [ngClass]="overflowClass">
    <div class="noticia-card mt-xxl-5 mt-sm-3 mt-3" *ngFor="let item of displayedNoticias">
      <div class="card3 h-100">
        <img [src]="item.image" class="card-img-top" alt="Imagen de noticia" />
        <div class="card-body d-flex flex-column justify-content-between mt-2 mb-3 mx-3 mx-sm-4 mx-lg-4 mx-xl-5 my-sm-3 my-lg-4">
          <div class="mb-4 mb-md-0">
            <div class="mb-1 mb-md-3 text-fecha">
              {{ item.date }}
            </div>
            <p class="card2-title mb-0 mb-xl-5" [ngClass]="hoverClass">{{ item.title }}</p>
          </div>
          <div class="mt-md-4 mb-md-3  my-1">
            <app-button
              [link]="item.link"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver más"
              textColor="#0063f9">
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="paginacionActiva" class="pagination-container d-flex justify-content-center mt-4">
    <button class="btn btn-pagination mx-2" (click)="prevPage()" [disabled]="currentPage === 1">&lt;</button>

    <ng-container *ngFor="let page of pages">
      <button
        class="btn px-0 mx-1 btn-pagination"
        [ngClass]="{'btn-page': currentPage === page, 'btn-page-unselect': currentPage !== page}"
        (click)="goToPage(page)">
        {{ page }}
      </button>
    </ng-container>

    <button class="btn btn-pagination mx-2" (click)="nextPage()" [disabled]="currentPage === totalPages">&gt;</button>
  </div>
</div>


