<div class="container-fluid">
  <p class="mb-xxl-5 title-interna-index" *ngIf="titleNoticias">Noticias</p>
  <div class="row g-4 justify-content-center justify-content-md-between">
    <!-- Itera sobre las noticias a mostrar -->
    <div
      class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-xxl-5 mb-lg-3 mb-sm-1"
      *ngFor="let item of displayedNoticias; let i = index"
    >
      <div class="card3 h-100">
        <img
          [src]="item.image"
          class="card-img-top"
          alt="Imagen de noticia {{ i + 1 }}"
        />
        <div class="card-body d-flex flex-column justify-content-between m-3 mx-sm-3 mx-lg-4 mx-xl-4 my-sm-2 my-lg-4">
          <div>
            <div class="mb-1 mb-md-3 mb-lg-5 text-fecha">
              {{ item.date }}
            </div>
            <p class="card2-title" [ngClass]="hoverClass">
              {{ item.title }}
            </p>
          </div>
          <div class="my-2">
            <app-button
              [link]="item.link"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="Ver más"
              textColor="#0063f9"
            >
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
