<a [routerLink]="link"
   class="btn-vermas2 arrow-reporte px-2 py-3 " [ngClass]="{ 'active': isActive }"
   [style.--arrow-border-color]="defaultBorderColor"

   [style.--arrow-stroke-color]="defaultStrokeColor"
   [style.--arrow-hover-stroke-color]="hoverStrokeColor"
   [style.color]="textColor">
   <!-- [style.--arrow-hover-bg-color]="hoverBorderColor" -->
  <span class="arrow-container">
    <!-- Cuerpo de la flecha (la línea) -->
    <svg class="arrow-body" width="40" height="20" viewBox="0 0 40 20" preserveAspectRatio="none"
         xmlns="http://www.w3.org/2000/svg">
      <line x1="0" y1="10" x2="40" y2="10" stroke="var(--arrow-stroke-color)" stroke-width="2" stroke-linecap="round" />
    </svg>
    <!-- Cabeza de la flecha (la punta ">") -->
    <svg class="arrow-head" width="15" height="15" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <polyline points="0,0 10,10 0,20" stroke="var(--arrow-stroke-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" />
    </svg>
  </span>
  <span class="listado btn-label">{{ label }}</span>
</a>
