<div class="container-fluid my-5">
  <p class="mb-5 title-interna-index mb-5">Unidades</p>
  <div class="row">
    <!-- Card 1 -->
    <div class="col-xxl-4  col-xl-4 col-md-6 col-sm-12 mb-5">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <div class="card card11">
              <img
                src="assets/images/mineria1.png"
                alt="mineria3"
                class="card-img img-fluid"
                style="border-radius: 20px 20px 0 0 ;"
              />
              <div class="overlay">
                <div
                  class="card-content px-xxl-4 my-xxl-3 px-xl-2 my-lg-2 my-sm-2 p-0 m-3"
                >
                  <p class="titulo m-xxl-2 m-xl-0 pl-1 tit-pequeño">
                    <i class="fas fa-arrow-right flecha-blue"></i> Mina San
                    Rafael
                  </p>
                  <div class="descripcion">
                    <p class="texto-base-blanco">Antauta, Puno</p>
                    <p class="texto-base-blanco">4300 msnm</p>
                    <p class="texto-base-blanco">
                      <strong>Producción:</strong> Estaño
                    </p>
                    <p class="texto-base-blanco">
                      Desempeña un papel crucial en la producción de estaño a
                      nivel global. Es una operación subterránea que utiliza
                      procesos modernos y eficientes para obtener un estaño de
                      alta pureza, desde concentración gravimétrica y
                      flotación, hasta ore sorting.
                    </p>
                    <app-button
                      link="/que-hacemos/san-rafael"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="Ver más"
                      textColor="#0063f9"
                    ></app-button>
                    <!-- <a
                      routerLink="/que-hacemos/san-rafael"
                      class="btn-vermas"
                      style="max-width: max-content"
                    >
                      <span class="flecha-circular">
                        <i class="fas fa-arrow-right flecha-ver-mas"></i>
                      </span>
                      Ver más
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Card 2 -->
    <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12 mb-5">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <div class="card card11">
              <img
                src="assets/images/mina2.PNG"
                alt="mineria3"
                class="card-img img-fluid"
                style="border-radius: 20px 20px 0 0 ;"
              />
              <div class="overlay">
                <div
                class="card-content px-xxl-4 my-xxl-3 px-xl-2 my-lg-2 my-sm-2 p-0 m-3"
                >
                <p class="titulo m-xxl-2 m-xl-0 pl-1 tit-pequeño">
                    <i class="fas fa-arrow-right flecha-blue"></i> Refinería
                    Pisco
                  </p>
                  <div class="descripcion">
                    <p class="texto-base-blanco">Pisco, Ica</p>
                    <p class="texto-base-blanco">20 msnm</p>
                    <p class="texto-base-blanco">
                      <strong>Producción:</strong> Estaño
                    </p>
                    <p class="texto-base-blanco">
                      Parte de nuestra cadena productiva de estaño, nos
                      permite generar mayor valor agregado. Es pionera en usar
                      la tecnología de lanza sumergida, lo que nos permite
                      alcanzar una pureza promedio de 99,95 % y aleaciones con
                      base de estaño de calidad mundial.
                    </p>
                    <app-button
                      link="/que-hacemos/pisco"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="Ver más"
                      textColor="#0063f9"
                    ></app-button>
                    <!-- <a
                      routerLink="/que-hacemos/pisco"
                      class="btn-vermas"
                      style="max-width: max-content"
                    >
                      <span class="flecha-circular">
                        <i class="fas fa-arrow-right flecha-ver-mas"></i>
                      </span>
                      Ver más
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-xxl-4  col-xl-4 col-md-6 col-sm-12 mb-5">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <div class="card card11">
              <img
                src="assets/images/mina3.PNG"
                alt="mineria3"
                class="card-img img-fluid"
                style="border-radius: 20px 20px 0 0 ;"
              />
              <div class="overlay">
                <div
                class="card-content px-xxl-4 my-xxl-3 px-xl-2 my-lg-2 my-sm-2 p-0 m-3"
                >
                <p class="titulo m-xxl-2 m-xl-0 pl-1 tit-pequeño">
                    <i class="fas fa-arrow-right flecha-blue"></i> Mina
                    Pucamarca
                  </p>
                  <div class="descripcion">
                    <p class="texto-base-blanco"> Pucamarca, Tacna</p>
                    <p class="texto-base-blanco">4500 msnm</p>
                    <p class="texto-base-blanco">
                      <strong>Producción:</strong> Oro
                    </p>
                    <p class="texto-base-blanco">
                       Produce oro con altos niveles de calidad y eficiencia. Modernos procesos de chancado, lixiviación y una posterior fundición en horno eléctrico hacen posible obtener barras de doré de 40% a 50% de contenido de oro.
                    </p>
                    <app-button
                      link="/que-hacemos/pucamarca"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="Ver más"
                      textColor="#0063f9"
                    ></app-button>
                    <!-- <a
                      routerLink="/que-hacemos/pucamarca"
                      class="btn-vermas"
                      style="max-width: max-content"
                    >
                      <span class="flecha-circular">
                        <i class="fas fa-arrow-right flecha-ver-mas"></i>
                      </span>
                      Ver más
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
