<section
  class="quienes-somos-section"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + backgroundImage + ')',

  }"
>
  <div class="container-fluid my-xxl-5 my-xl-5 my-md-2 my-sm-3 my-2">
    <div class="row">
      <div class="col-md-5 col-9">
        <p class="title mb-xxl-5 mb-lg-4 " >{{ title }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-12">
        <p class="description mb-md-2 mb-0">
          {{ description }}
        </p>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6 col-lg-5">
        <a
          *ngIf="mode === 'video'"
          [href]="videoLink"
          target="_blank"
          class="small-section-link"
        >
          <div class="small-section">
            <div class="video-thumbnail col-5">
              <img [src]="videoThumbnail" alt="Video" class="video-img" />
              <div class="play-icon">
                <i class="fas fa-play"></i>
              </div>
            </div>
            <div class="video-info col-6">
              <h5>VIDEO</h5>
              <p>{{videoText}}</p>
            </div>
          </div>
        </a>

        <!-- 🔵 Modo Memoria o Proveedores (Sin <a>) -->
        <div *ngIf="mode !== 'video'" class="small-section">
          <div class="video-thumbnail col-5">
            <img
              [src]="videoThumbnail"
              alt="Memoria/Proveedores"
              class="video-img"
            />
          </div>
          <div class="video-info col-6 text-center">
            <h5>{{ mode === "memoria" ? "MEMORIA" : "ÚNETE" }}</h5>
            <p class="mb-md-3 mb-0">
              {{
                mode === "memoria"
                  ? "MEMORIA ANUAL 2024"
                  : "CONVIÉRTETE EN UN PROVEEDOR LOCAL"
              }}
            </p>

            <div class="d-flex align-items-center justify-content-end linea-home">
              <a
                *ngIf="videoLink"
                [href]="videoLink"
                target="_blank"
                class="btn_seccion_imagen btn"
              >
                {{ buttonText }}

                <span class="flecha-circular-verde ms-1 me-0">
                  <i
                    *ngIf="buttonText === 'Descargar'"
                    class="fas fa-arrow-down flecha-ver-mas"
                  ></i>
                  <i
                    *ngIf="buttonText === 'Ingresa'"
                    class="fas fa-arrow-right flecha-ver-mas  ms-1 me-0"
                  ></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
