<section
  class="quienes-somos-section"
  [ngStyle]="{
    'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + backgroundImage + ')',
    'background-size': '150% 100%',
    'background-position': '80% center',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="container-fluid my-lg-5 my-md-4 my-sm-3 my-2">
    <div class="row">
      <!-- Contenido a la izquierda -->
      <div class="col-md-6">
        <h2 class="title">{{ title }}</h2>
        <p class="description">
          {{ description }}
        </p>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6 col-lg-5">
        <!-- 🟢 Solo envuelve en <a> si es video -->
        <a
          *ngIf="mode === 'video'"
          [href]="videoLink"
          target="_blank"
          class="small-section-link"
        >
          <div class="small-section">
            <div class="video-thumbnail col-5">
              <img [src]="videoThumbnail" alt="Video" class="video-img" />
              <div class="play-icon">
                <i class="fas fa-play"></i>
              </div>
            </div>
            <div class="video-info col-6">
              <h5>VIDEO</h5>
              <p>{{videoText}}</p>
            </div>
          </div>
        </a>

        <!-- 🔵 Modo Memoria o Proveedores (Sin <a>) -->
        <div *ngIf="mode !== 'video'" class="small-section">
          <div class="video-thumbnail col-5">
            <img
              [src]="videoThumbnail"
              alt="Memoria/Proveedores"
              class="video-img"
            />
          </div>
          <div class="video-info col-6 text-center mt-3">
            <h5>{{ mode === "memoria" ? "MEMORIA" : "ÚNETE" }}</h5>
            <p>
              {{
                mode === "memoria"
                  ? "MEMORIA ANUAL 2024"
                  : "CONVIÉRTETE EN UN PROVEEDOR LOCAL"
              }}
            </p>

            <div class="d-flex align-items-center justify-content-end">
              <a
                *ngIf="videoLink"
                [href]="videoLink"
                target="_blank"
                class="btn_seccion_imagen btn"
              >
                {{ buttonText }}
                <span class="flecha-circular-verde ms-1">
                  <i
                    *ngIf="buttonText === 'Descargar'"
                    class="fas fa-download flecha-ver-mas"
                  ></i>
                  <i
                    *ngIf="buttonText === 'Ingresa'"
                    class="fas fa-arrow-right flecha-ver-mas"
                  ></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
