
<!-- seection del breadcrumb -->
<!-- <section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="/sostenibilidad" class="texto-minimo-blanco">Sosteibilidad</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">transparencia</li>
        <li class="ms-auto">
          <a routerLink="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section> -->
<app-breadcrumbs></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fondo_transparencia.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-5 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">transparencia</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <h1>Comprometidos con la transparencia en cada paso</h1>
              <p>
                Nos adherimos a la Iniciativa de Transparencia en la Industria Extractiva (EITI)
                porque creemos que la transparencia fomenta la confianza. Esta iniciativa promueve
                una gestión abierta y responsable en los sectores de minería, petróleo y gas. Además,
                apoyamos la divulgación de beneficiarios finales y la integramos en nuestros procesos de
                debida diligencia con socios comerciales clave.

              </p>
              <div class="my-5">
                <a href="/" >Ver Informe Nacional de Transparencia Perú (EITI) </a>

              </div>


            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_transparencia.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                Minsur es la primera minera en el mundo en rastrear el 100% de su producción
                de estaño utilizando tecnología blockchain. Esta innovación, desarrollada en
                conjunto con la firma alemana Minespider, asegura que nuestra producción sea
                ética y ofrece a nuestros clientes una ventaja competitiva en términos de sostenibilidad y responsabilidad social.


              </p>
              <div class="my-5">
                <a href="/" >Ver Trazabilidad</a>

              </div>
              <p>
                Publicamos anualmente informes detallados sobre nuestras prácticas de gobierno corporativo, gestión de riesgos y prevención de la corrupción. Estos informes van más allá de los requisitos legales, demostrando nuestro compromiso con la transparencia y la rendición de cuentas. También abordan temas clave como la diversidad, el medio ambiente y la seguridad, proporcionando una visión completa de nuestras operaciones.

              </p>
              <div class="my-5">
                <a href="/" >Ver Reportes</a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





