<footer class="py-3 py-md-3 py-xxl-5 py-lg-4">
  <div class="container-fluid">
      <div class="row py-xl-1 py-lg-4  py-md-3 py-sm-2 d-flex justify-content-between">
          <!-- Logo -->
          <div class="col-lg-5 col-md-12 mb-xxl-3 my-3">
              <img src="assets/images/Logo/LogoFooter.png" alt="Logo" class="img-fluid">

            </div>

          <!-- Menú -->
          <div class="col-md-12 col-lg-3 mb-xxl-3 mb-xl-0 py-xxl-5 py-lg-2 p-3">
            <div class="row">
              <!-- Primera columna -->
              <div class="col-6  col-md-6 col-lg-12">
                <ul class="list-unstyled m-0">
                  <li><a routerLink="/quienes-somos" class="hover-underline">Quiénes Somos</a></li>
                  <li><a routerLink="/que-hacemos" class="hover-underline">Qué hacemos</a></li>
                  <li><a routerLink="/sostenibilidad" class="hover-underline">Sostenibilidad</a></li>
                  <li><a routerLink="/inversiones-reportes" class="hover-underline">Inversionistas y Reportes</a></li>
                </ul>
              </div>

              <!-- Segunda columna -->
              <div class="col-6 col-md-6 col-lg-12">
                <ul class="list-unstyled m-0">
                  <li><a routerLink="/proveedores" class="hover-underline">Proveedores</a></li>
                  <li><a routerLink="/noticias" class="hover-underline">Noticias</a></li>
                  <li><a routerLink="/home/trabaja-con-nosotros" class="hover-underline">Trabaja con Nosotros</a></li>
                  <li><a routerLink="/home/contactanos" class="hover-underline">Contáctanos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12 col-lg-3 mb-xxl-3 mb-xl-0 py-xxl-5  py-lg-2 p-3">
              <ul class="list-unstyled">
                  <li><a routerLink="/quienes-somos" class="hover-underline">Quiénes Somos</a></li>
                  <li><a routerLink="/que-hacemos" class="hover-underline">Qué hacemos</a></li>
                  <li><a routerLink="/sostenibilidad" class="hover-underline">Sostenibilidad</a></li>
                  <li><a routerLink="/inversiones-reportes" class="hover-underline">Inversionistas y Reportes</a></li>
                  <li><a routerLink="/proveedores" class="hover-underline">Proveedores</a></li>
                  <li><a routerLink="/noticias" class="hover-underline">Noticias</a></li>
                  <li><a routerLink="/home/trabaja-con-nosotros" class="hover-underline">Trabaja con Nosotros</a></li>
                  <li><a routerLink="/home/contactanos" class="hover-underline">Contáctanos</a></li>
              </ul>
          </div> -->

          <!-- Redes sociales y títulos -->
          <div class="col-lg-3 col-md-12 mb-xxl-3 mb-xl-0">
              <div class="pb-xxl-4 pb-xl-1 pb-sm-1 pb-sm-1 linea-footer">
                  <p class="footer-auxiliar text-md-start">Mantente al día en nuestras redes</p>


                  <ul class="list-unstyled footer-iconos d-flex justify-content-xl-between justify-content-start">
                      <li><a routerLink="/" class="me-3"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-instagram"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-x-twitter"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-youtube"></i></a></li>
                  </ul>
              </div>
              <hr class="responsive-line-redes">
              <div class="">
                <p class="footer-auxiliar text-md-start">Escríbenos</p>
                <ul class="list-unstyled section-canal">
                  <li class="d-flex align-items-center">
                      <a routerLink="/home/canal-integridad" class="d-flex w-100 align-items-center text-decoration-none">
                          <span class="col-5 col-lg-10 col-xl-8 text-truncate">Canal de Integridad</span>
                          <span class="flecha-circular-footer"><i class="fas fa-arrow-right"></i></span>
                      </a>
                  </li>
                  <li class="d-flex align-items-center">
                      <a routerLink="/home/trabaja-con-nosotros" class="d-flex w-100 align-items-center text-decoration-none">
                          <span class="col-5 col-lg-10 col-xl-8 text-truncate">Trabaja con nosotros</span>
                          <span class="flecha-circular-footer"><i class="fas fa-arrow-right"></i></span>
                      </a>
                  </li>
              </ul>


              </div>

          </div>
      </div>

      <hr class="responsive-line">

      <!-- Segundo div (datos de contacto y derechos reservados) -->

      <div class="row py-xl-1 py-sm-0 d-flex flex-column-reverse flex-md-row footer-auxiliar">
        <!-- Derechos reservados (se posicionará abajo en móviles) -->
        <div class="col-lg-3 col-xl-3 col-xxl-4 text-start text-md-start mt-2 mt-md-0">
            <p class="mb-0">Todos los derechos reservados 2024©</p>
        </div>

        <!-- Datos de contacto (se posicionará arriba en móviles y al fondo en pantallas grandes) -->
        <div class="col-lg-9 col-xl-9 col-xxl-8 d-flex flex-wrap justify-content-xl-end justify-content-md-start text-md-start align-self-end align-self-md-start">
            <div class="row w-100">
                <div class="col-12 col-md-6 text-lg-end text-start mb-2 mb-md-0">
                    <span>Jr. Lorenzo Bernini 149 - San Borja. Lima 27. Perú</span>
                </div>
                <div class="col-12 col-md-3 text-lg-end text-start mb-2 mb-md-0">
                    <span class="d-none d-md-inline me-5">|</span>
                    <span>aacc&#64;minsur.com</span>
                </div>
                <div class="col-12 col-md-3 text-lg-end text-start">
                    <span class="d-none d-md-inline me-5">|</span>
                    <span>(+51) 2158330</span>
                </div>
            </div>
        </div>
    </div>

  </div>
</footer>
