<footer class="p-md-2 p-xxl-5 p-lg-4">
  <div class="container-fluid">
      <div class="row py-xl-1 py-lg-4  py-md-3 py-sm-2 d-flex justify-content-between">
          <!-- Logo -->
          <div class="col-lg-5 col-md-12 mb-xxl-3 mb-xl-0">
              <img src="assets/images/Logo/LogoFooter.png" alt="Logo" class="img-fluid">

            </div>

          <!-- Menú -->
          <div class="col-md-12 col-lg-3 mb-xxl-3 mb-xl-0 py-xxl-5  py-lg-2 p-3">
              <ul class="list-unstyled">
                  <li><a routerLink="/quienes-somos" class="hover-underline">Quiénes Somos</a></li>
                  <li><a routerLink="/que-hacemos" class="hover-underline">Qué hacemos</a></li>
                  <li><a routerLink="/sostenibilidad" class="hover-underline">Sostenibilidad</a></li>
                  <li><a routerLink="/inversiones-reportes" class="hover-underline">Inversionistas y Reportes</a></li>
                  <li><a routerLink="/proveedores" class="hover-underline">Proveedores</a></li>
                  <li><a routerLink="/noticias" class="hover-underline">Noticias</a></li>
                  <li><a routerLink="/home/trabaja-con-nosotros" class="hover-underline">Trabaja con Nosotros</a></li>
                  <li><a routerLink="/home/contactanos" class="hover-underline">Contáctanos</a></li>
              </ul>
          </div>

          <!-- Redes sociales y títulos -->
          <div class="col-lg-3 col-md-12 mb-xxl-3 mb-xl-0">
              <div class="pb-xxl-4 pb-xl-1 pb-sm-1 pb-sm-1 linea-footer">
                  <p class="footer-auxiliar text-center text-md-start">Mantente al día en nuestras redes</p>
                  <ul class="list-unstyled footer-iconos d-flex justify-content-between">
                      <li><a routerLink="/" class="me-3"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-instagram"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-x-twitter"></i></a></li>
                      <li><a routerLink="/" class="me-3"><i class="fab fa-youtube"></i></a></li>
                  </ul>
              </div>
              <hr class="responsive-line-redes">
              <div class="">
                <p class="footer-auxiliar text-center text-md-start">Escríbenos</p>
                <ul class="list-unstyled section-canal">
                  <li >
                    <a routerLink="/home/canal-integridad" class="text-decoration-none d-flex justify-content-between align-items-center">
                      Canal de Integridad

                    <span class="flecha-circular-footer"><i class="fas fa-arrow-right"></i></span>
                  </a>
                  </li>
                  <li>
                    <a routerLink="/home/trabaja-con-nosotros" class="text-decoration-none d-flex justify-content-between align-items-center">
                      Trabaja con nosotros

                    <span class="flecha-circular-footer"><i class="fas fa-arrow-right"></i></span>
                  </a>
                  </li>
                </ul>
              </div>

          </div>
      </div>

      <hr class="responsive-line">

      <!-- Segundo div (datos de contacto y derechos reservados) -->
      <div class="row py-xl-1 py-sm-0 d-flex justify-content-between footer-auxiliar">
          <!-- Derechos reservados -->
          <div class="col-lg-3 col-xl-3 col-xxl-4">
              <p class="mb-0">Todos los derechos reservados 2024©</p>
          </div>

          <div class="col-lg-9 col-xl-9 col-xxl-8 d-flex flex-wrap justify-content-xl-end justify-content-md-center text-md-center">
            <span class="mb-0 mx-xl-3">Jr. Lorenzo Bernini 149 - San Borja. Lima 27. Perú</span>
            <span class="d-none d-md-block">|</span>
            <span class="mb-0 mx-xl-3">aacc&#64;minsur.com</span>
            <span class="d-none d-md-block">|</span>
            <span class="mb-0 mx-xl-3">(+51) 2158330</span>
          </div>

      </div>
  </div>
</footer>
