
<app-breadcrumbs></app-breadcrumbs>
<!-- Fin seection del breadcrumb -->
<!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../assets/images/fondo-trabaja-nosotros.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-4 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Trabaja con nosotros</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
    <div class="container-fluid my-lg-5 my-md-0">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-lg-10">
            <p class="texto-base">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur purus. Duis vitae fermentum enim, a pulvinar mi. Aenean odio elit, volutpat eu blandit eget, hendrerit sagittis velit. Donec hendrerit diam elit, at sodales diam imperdiet at. Donec eget risus vel nulla accumsan facilisis. Praesent ut arcu id magna blandit convallis. Cras sed malesuada sapien. Vivamus sit amet velit turpis.
            </p>
            <div class="mt-3">
              <app-button

              link="/home/canal-integridad"
              defaultBorderColor="#0063f9"
              defaultStrokeColor="#0063f9"
              hoverStrokeColor="#ffffff"
              label="ver todas las ofertas"
              textColor="#0063f9"
            >
            </app-button>

            </div>
          </div>
        </div>
    </div>
</section >
<!-- section trabajar en minsur -->
<section class="contenedor-section section-background-8">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="card9">
      <div class="row no-gutters">


        <!-- Segunda sección: Título, texto y nombre -->
        <div class="col-12 col-md-6 d-flex flex-column align-items-start">
          <p class="texto-seccion texto-base tit-super-grande-blanco mb-lg-5 mb-md-1">
            “Trabajar en Minsur es lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur”.
          </p>
          <span class="nombre-seccion texto-base-blanco-bold mt-lg-5 mt-md-1 mb-0">JUANA PÉREZ</span>
          <span class="nombre-seccion texto-base-blanco ">Coordinadora de lorem ipsum</span>
        </div>
        <!-- Primera sección: Imagen y texto -->
        <div class="col-12 col-md-6 d-flex flex-column ps-md-5 ps-ms-0">
          <img
            src="../../../../../assets/images/personal_mineria.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <!-- Imagen -->
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Fin section trabajar en minsur -->
 <!-- Inciio porque minsur -->
<section class="contenedor-section section-background-7">
  <div class="container-fluid my-lg-5 my-md-0">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-10">
          <p class="tit-interno">¿Por qué Minsur?</p>
          <p class="texto-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur purus. Duis vitae fermentum enim, a pulvinar mi. Aenean odio elit, volutpat eu blandit eget, hendrerit sagittis velit. Donec hendrerit diam elit, at sodales diam imperdiet at. Donec eget risus vel nulla accumsan facilisis. Praesent ut arcu id magna blandit convallis. Cras sed malesuada sapien. Vivamus sit amet velit turpis.
          </p>

        </div>
      </div>
      <!-- zona de card imagen mas card -->
      <div class="card9 card-img-2 pt-lg-5 pt-md-1 py-5">
        <div class="row align-items-end  mb-sm-0 mb-xl-5 custom-img">

          <!-- Imagen Izquierda -->
          <div class="col-lg-6 p-0 ">
            <img src="../../../../../assets/images/trabaja_nosotros2.png" alt="Imagen" class="img-fluid w-100 h-100 object-cover ">
          </div>
          <!-- Card Derecha -->
          <div class="col-lg-6 ps-0 px-0 px-sm-0 px-md-0 px-lg-0">
            <div class="card card-trabaja custom-card" style="height: 90%;">
              <p class="tit-interno">Minsur Way:</p>
              <p class="tit-interno"> Lorem ipsum dolor sit amet, consectetur.</p>
              <p class="texto-base" style="min-height:200px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur purus. Duis vitae fermentum enim, a pulvinar mi. Aenean odio elit, volutpat eu blandit eget, hendrerit sagittis.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="card9 card-img-2 card-img-3 pt-lg-5 pt-md-1 py-5">
        <div class="row align-items-end  mb-sm-0 mb-xl-5 custom-img">


          <!-- Card izquierda -->
          <div class="col-lg-6 ps-0 px-0 px-sm-0 px-md-0 px-lg-0">
            <div class="card card-trabaja custom-card" style="height: 90%;">
              <p class="tit-interno">Minsur Way:</p>
              <p class="tit-interno"> Lorem ipsum dolor sit amet, consectetur.</p>
              <p class="texto-base" style="min-height:200px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur purus. Duis vitae fermentum enim, a pulvinar mi. Aenean odio elit, volutpat eu blandit eget, hendrerit sagittis.</p>

            </div>
          </div>
           <!-- Imagen derecha -->
           <div class="col-lg-6 p-0 ">
            <img src="../../../../../assets/images/personal_mineria_4.png" alt="Imagen" class="img-fluid w-100 h-100 object-cover ">
          </div>
        </div>
      </div>
      <div class="card9 card-img-2 pt-xl-5 pt-md-1 py-5">
        <div class="row align-items-end  mb-sm-0 mb-xl-5 custom-img">

          <!-- Imagen Izquierda -->
          <div class="col-lg-6 p-0 ">
            <img src="../../../../../assets/images/personal_mineria_3.png" alt="Imagen" class="img-fluid w-100 h-100 object-cover ">
          </div>
          <!-- Card Derecha -->
          <div class="col-lg-6 ps-0 px-0 px-sm-0 px-md-0 px-lg-0">
            <div class="card card-trabaja custom-card" style="height: 90%;">
              <p class="tit-interno">Minsur Way:</p>
              <p class="tit-interno"> Lorem ipsum dolor sit amet, consectetur.</p>
              <p class="texto-base" style="min-height:200px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam sem, faucibus at ante nec, cursus efficitur purus. Duis vitae fermentum enim, a pulvinar mi. Aenean odio elit, volutpat eu blandit eget, hendrerit sagittis.</p>

            </div>
          </div>
        </div>
      </div>
      <!-- Fin de card imagen mas card -->
  </div>

</section>
 <!-- Fin porque minsur -->

 <!-- section documentos coporativos -->
 <section class="contenedor-section section-background-2">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <p class="mb-5 tit-interno">Ofertas actuales</p>
       <!-- Primer div -->
        <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
        <!-- Flecha y texto alineados en la misma línea -->
        <div class="d-flex align-items-center flex-grow-1">
          <i class="fas fa-arrow-right flecha-blue me-3"></i>
          <p class="mb-0 listado">Lorem ipsum dolor sit amet </p>
        </div>
        <!-- Botones Descargar y ver, centrados en pantallas pequeñas -->

          <a routerLink="/" class="btn-descargar btn-ver" download>
            ver
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
          </a>
        </div>
        <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
          <!-- Flecha y texto alineados en la misma línea -->
          <div class="d-flex align-items-center flex-grow-1">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Aenean odio elit </p>
          </div>
          <!-- Botones Descargar y ver, centrados en pantallas pequeñas -->

            <a routerLink="/" class="btn-descargar btn-ver" download>
              ver
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
          <!-- Flecha y texto alineados en la misma línea -->
          <div class="d-flex align-items-center flex-grow-1">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Integer semper vestibulum ex vitae </p>
          </div>
          <!-- Botones Descargar y ver, centrados en pantallas pequeñas -->

            <a routerLink="/" class="btn-descargar btn-ver" download>
              ver
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
            </a>
        </div>
        <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
          <!-- Flecha y texto alineados en la misma línea -->
          <div class="d-flex align-items-center flex-grow-1">
            <i class="fas fa-arrow-right flecha-blue me-3"></i>
            <p class="mb-0 listado">Aliquam tincidunt nisi ipsum </p>
          </div>
          <!-- Botones Descargar y ver, centrados en pantallas pequeñas -->

            <a routerLink="/" class="btn-descargar btn-ver" download>
              ver
              <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
            </a>
        </div>
    </div>
    <div class="container-fluid my-lg-5 my-md-0">
      <div class="mt-3">
        <app-button

          link="/home/canal-integridad"
          defaultBorderColor="#0063f9"
          defaultStrokeColor="#0063f9"
          hoverStrokeColor="#ffffff"
          label="ver todas las ofertas"
          textColor="#0063f9"
        >
        </app-button>

      </div>
    </div>
  </div>
</section>
 <!-- Fin section documentos coporativos -->
