
<app-breadcrumbs link="/sostenibilidad"></app-breadcrumbs>
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%), url('../../../../../assets/images/fondo_relaves.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-6 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Relaves</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
<section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-3 my-md-1">
    <div class="row d-flex justify-content-between style-custom-texto texto-base" >
      <div class="col-sm-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <h1>Garantizamos la seguridad e integridad de nuestras instalaciones de relaves mediante prácticas internacionalmente reconocidas.</h1>
              <p>
                En 2023, en línea con nuestros compromisos con el ICMM, seguimos implementando los planes de adaptación al estándar Global de Infraestructuras de Relaves (GISTM) y nuestro propio Estándar de Gestión de Infraestructura (EGI). Estos incluyen vigilancia continua, monitoreo y planes de respuesta ante emergencias para minimizar riesgos y proteger a las personas y el medio ambiente, estableciendo el marco general para garantizar la seguridad de nuestras operaciones.

              </p>
              <p>
                Dentro de los principales controles establecidos en nuestro estándar tenemos:

              </p>
              <ul>
                <li>
                  Inspecciones visuales y de infraestructuras de relaves para verificar el cumplimiento de planes de gestión de riesgos, detectar problemas tempranos y garantizar la alineación con nuestros objetivos de seguridad.
                </li>
                <li>
                  Planes específicos para emergencias alineadas con la normativa legal vigente.
                </li>
                <li>
                  Antes del cierre de un depósito, se elabora un plan detallado de cierre que sigue la legislación vigente, asegurando un desmantelamiento seguro.

                </li>
                <li>
                  Auditorías y evaluaciones por expertos independientes, quienes ofrecen orientación técnica y garantizan el cumplimiento de estándares legales y de seguridad, recomendando mejoras cuando sean necesarias.

                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row mt-lg-5 mt-sm-2 text-center">
          <div class="col-lg-12">
            <img
                src="../../../../../../assets/images/img_relaves.png"
              alt="Imagen"
              class="img-fluid mb-3"
          />
          </div>
        </div>
        <div class="row mt-lg-5 mt-sm-2">
          <div class="col-lg-12">
            <div class="">
              <p>
                <strong> ADHERENCIA AL ESTÁNDAR GLOBAL DE INFRAESTRUCTURA DE RELAVES (GISTM)</strong>

              </p>
              <p>
                Nuestras unidades en Perú han avanzado significativamente en la evaluación de los mecanismos creíbles de los depósitos de relaves, llegando a la conclusión de que no existen mecanismos de falla catastrófica identificados.

              </p>
              <p>
                Estamos llevando a cabo las actividades de adherencia acordes a nuestro plan, comenzando con actividades técnicas y continuando con la divulgación.

              </p>
              <p>
                Para aquellas unidades que requieren información adicional, realizamos actividades para complementarla y llevar a cabo evaluaciones continuas de identificación y evaluación conforme a las buenas prácticas internacionales.

              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

