<!-- seection del breadcrumb -->
<section class="section-background-8 section-breadcrumb ">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-white rounded">
        <li class="breadcrumb-item"><a href="#" class="texto-minimo-blanco">Inicio</a></li>
        <li class="breadcrumb-item active texto-minimo-blanco" aria-current="page">Enfoque en personas</li>
        <li class="ms-auto">
          <a href="/" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-left flecha-ver-mas-blanco"></i
            ></span>
            Volver
          </a>
        </li>
      </ol>
    </nav>
  </div>
</section>
<!-- Fin seection del breadcrumb -->
 <!-- Inicio de fondo con texto -->
<section class=" d-flex align-items-center fondo-section-regular" style="background: url('../../../../../../assets/images/enfoque-personas.png') ;">
  <div class="container-fluid">
    <div class="row  text-center text-sm-start">
      <div class="col-lg-4 col-md-5 col-sm-12 text-left text-content">
        <h1 class="titulo-super-grande-blanco ">Enfoque en personas</h1>
      </div>
    </div>
  </div>
</section>
<!-- Fin de fondo con texto -->
 <!-- secction texto y descargar -->
  <section class="contenedor-section section-background-2">
    <div class="container-fluid my-lg-5 my-md-0">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-lg-9">
            <div class="texto-base">
              <p>
                Las personas son nuestro mayor activo. Por eso, hemos construido una cultura organizacional que prioriza el bienestar de nuestros colaboradores y el desarrollo de las comunidades donde operamos. A través de programas de capacitación, iniciativas sociales y un diálogo abierto y transparente, buscamos crear un ambiente de trabajo seguro y motivador.
                            </p>
              <p>
                Creemos firmemente que el éxito de nuestra empresa está ligado al bienestar de las personas y al desarrollo sostenible de las regiones donde estamos presentes. Nuestro compromiso va más allá de la extracción de minerales: buscamos generar un impacto positivo en la vida de las personas, contribuyendo al progreso de las comunidades.
              </p>

            </div>
        </div>
        <div class="col-sm-12 col-lg-2 d-flex flex-column align-items-center align-items-lg-start">
          <p class="titulo-azul-mediano">Descargas</p>
          <div class="card4 " style="max-width: 300px;">
            <img src="../../../../../../assets/images/reporte3.png" class="card-img-top" alt="Imagen de muestra">
            <div class="card-body  mt-3">
              <h5 class="titulo-pequeño-azul-marino-bold">Paper sobre Trazabilidad</h5>
            </div>
            <div class="border-top pt-3 text-lg-end text-md-center">
              <a routerLink="/" class="btn-descargar" download>
                Descargar
                <span class="flecha-circular"
                  ><i class="fas fa-arrow-down"></i
                ></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Fin secction texto y descargar -->
 <!-- seccion  Produccion rsponsable-->
 <!-- <section class="contenedor-section section-background-7">
  <app-card-produccion-responsable></app-card-produccion-responsable>
</section> -->
<section class="contenedor-section section-background-7">
  <app-card-produccion-responsable></app-card-produccion-responsable>
</section>
  <!-- fin seccion que producimos -->
