<app-imagen-view
  [backgroundImage]="'assets/images/proveedores2.png'"
  [title]="'Proveedores'"
  [description]="'Si estás comprometido con la excelencia, te invitamos a formar parte de nuestra cadena de valor.'"
  [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
  [videoThumbnail]="'assets/images/imagen_video/proveedores-unete.png'"
  [mode]="'proveedores'"
  [buttonText]="'Ingresa'">
</app-imagen-view>

<app-info-view-general
  [titulo1]="'Una cadena de suministros comprometida'"
  [titulo2]="'Creemos en un crecimiento en conjunto con nuestros proveedores.'"
  [descripcion]="
    'Apostamos por el desarrollo de nuestros proveedores implementando procesos innovadores y potenciando la contratación local. '
  "
></app-info-view-general>

<section class="contenedor-section section-background-7 ">

  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row align-items-center pb-5">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="tit-interno mb-0">Biblioteca de documentos</p>
      </div>
      <div class="col-md-6">
        <select name="" id="" class="selector-listado form-select">
          <option value="">Políticas Corporativas</option>
        </select>
      </div>
    </div>
    <div class="pt-5">
       <!-- Primer div -->
       <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
        <!-- Flecha y texto alineados en la misma línea -->
        <div class="d-flex align-items-center flex-grow-1">
          <i class="fas fa-arrow-right flecha-blue me-3"></i>
          <p class="mb-0 listado">Política Corporativa de Sostenibilidad </p>
        </div>

        <!-- Información del PDF -->
        <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
          <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
        </div>

        <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
        <div class="mt-2 text-center">
          <a routerLink="/" class="btn-descargar me-2" download>
            Descargar
            <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
          </a>
          <a routerLink="/" class="btn-descargar btn-ver" download>
            Ver
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
          </a>
        </div>
      </div>


      <!-- Segundo div -->
      <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
        <!-- Flecha y texto alineados en la misma línea -->
        <div class="d-flex align-items-center flex-grow-1">
          <i class="fas fa-arrow-right flecha-blue me-3"></i>
          <p class="mb-0 listado">Política Corporativa de Sostenibilidad </p>
        </div>

        <!-- Información del PDF -->
        <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
          <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
        </div>

        <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
        <div class="mt-2 text-center">
          <a routerLink="/" class="btn-descargar me-2" download>
            Descargar
            <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
          </a>
          <a routerLink="/" class="btn-descargar btn-ver" download>
            Ver
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
          </a>
        </div>
      </div>

      <!-- Tercer div -->
      <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
        <!-- Flecha y texto alineados en la misma línea -->
        <div class="d-flex align-items-center flex-grow-1">
          <i class="fas fa-arrow-right flecha-blue me-3"></i>
          <p class="mb-0 listado">Política Corporativa de Sostenibilidad </p>
        </div>

        <!-- Información del PDF -->
        <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
          <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
        </div>

        <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
        <div class="mt-2 text-center">
          <a routerLink="/" class="btn-descargar me-2" download>
            Descargar
            <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
          </a>
          <a routerLink="/" class="btn-descargar btn-ver" download>
            Ver
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
          </a>
        </div>
      </div>

      <!-- Cuarto div -->
      <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
        <!-- Flecha y texto alineados en la misma línea -->
        <div class="d-flex align-items-center flex-grow-1">
          <i class="fas fa-arrow-right flecha-blue me-3"></i>
          <p class="mb-0 listado">Política Corporativa de Sostenibilidad </p>
        </div>

        <!-- Información del PDF -->
        <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
          <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
        </div>

        <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
        <div class="mt-2 text-center">
          <a routerLink="/" class="btn-descargar me-2" download>
            Descargar
            <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
          </a>
          <a routerLink="/" class="btn-descargar btn-ver" download>
            Ver
            <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- seection portal proveedores -->
<section class="contenedor-section section-background-8">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="card9">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex flex-column pe-md-5 pe-ms-0">
          <img
            src="../../../../../assets/images/portal_proveedores.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <!-- Imagen -->
        </div>

        <!-- Segunda sección: Título, texto y nombre -->
        <div class="col-12 col-md-6 ">
          <p class="titulo-seccion titulo-grande">Portal de Proveedores</p>

          <p class="texto-seccion texto-base texto-base-blanco">
            Estamos convencidos de que el aprovechamiento de las tecnologías y prácticas comerciales
             innovadoras nos ayudarán a alcanzar el crecimiento conjunto con nuestros proveedores.
              Ingresa a nuestro portal y conoce las herramientas que usamos para ello..
          </p>
          <a href="#" class="btn-vermas-blanco">
            <span class="flecha-circular-blanco"
              ><i class="fas fa-arrow-right flecha-ver-mas-blanco"></i
            ></span>
            Visita nuestro Portal de Proveedores
          </a>
        </div>
        <!-- Primera sección: Imagen y texto -->
      </div>
    </div>
    <div class="row d-flex justify-content-between mt-5  content-listado-2 listado-pequeño-blanco">
      <!-- Primer div -->
      <div class="col-lg-6">
        <div class="d-flex align-items-center flex-column flex-md-row mb-4 justify-content-md-between justify-content-start">
          <!-- Ícono y texto -->
          <div class="d-flex align-items-center flex-grow-1">
            <i class="fas fa-arrow-right flecha-blanco me-3"></i>
            <div class="flex-grow-0 flex-lg-grow-1">
              <p class="mb-0 ">Manual de Usuario o Proveedor</p>
            </div>
          </div>

          <!-- Botón centrado en pantallas pequeñas -->
          <div class="mt-2 mt-md-0 text-center">
            <a routerLink="/" class="btn-descargar btn-vermas-blanco me-sm-0 ms-sm-0 me-lg-5 ms-lg-2 ms-xl-5" download>
              Descargar
              <span class="flecha-circular-blanco">
                <i class="fas fa-arrow-down"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex align-items-center flex-column flex-md-row mb-4 justify-content-md-between justify-content-start x">
          <!-- Ícono y texto -->
          <div class="d-flex align-items-center flex-grow-1">
            <i class="fas fa-arrow-right flecha-blanco me-3"></i>
            <div class="flex-grow-0 flex-lg-grow-1">
              <p class="mb-0">Manual de Usuario o Proveedor</p>
            </div>
          </div>

          <!-- Botón centrado en pantallas pequeñas -->
          <div class="mt-2 mt-md-0 text-center">
            <a routerLink="/" class="btn-descargar btn-vermas-blanco me-sm-0 ms-sm-0 me-lg-5 ms-lg-2 ms-xl-5" download>
              Descargar
              <span class="flecha-circular-blanco">
                <i class="fas fa-arrow-down"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

       <!-- Primer div -->

  </div>
  </div>
</section>
<!-- fin seection portal proveedores  -->
 <!-- Inicio portal intelecta -->
 <section class="contenedor-section section-background-2">
  <div class="container-fluid my-lg-5 my-md-0">
    <div class="card9">
      <div class="row no-gutters">
        <!-- Segunda sección: Título, texto y nombre -->
        <div class="col-12 col-md-6 my-2 ">
          <p class="titulo-seccion tit-interno">Portal Intelecta</p>

          <p class="texto-seccion texto-base">
            Es una plataforma que emplea soluciones SAP para optimizar la gestión de la relación entre empresa y proveedores en operaciones contables. Puedes contactarte a través del siguiente correo de soporte: soporte.portaldeproveedores&#64;minsur.com
          </p>
          <a href="#" class="btn-vermas">
            <span class="flecha-circular"
              ><i class="fas fa-arrow-right flecha-ver-mas"></i
            ></span>
            Visita el Portal Intelecta
          </a>
        </div>
        <!-- Primera sección: Imagen y texto -->
        <div class="col-12 col-md-6 d-flex flex-column ps-md-5 ps-ms-0">
          <img
            src="../../../../../assets/images/portal_intelectual.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <!-- Imagen -->
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-between mt-5 content-listado-2 listado-pequeño">
        <!-- Primer div -->
        <div class="col-lg-6">
          <div class="d-flex align-items-center flex-column flex-md-row mb-4 justify-content-md-between justify-content-start">
            <!-- Ícono y texto -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <div class="flex-grow-0 flex-lg-grow-1">
                <p class="mb-0 ">Manual de Usuario o Proveedor</p>
              </div>
            </div>

            <!-- Botón centrado en pantallas pequeñas -->
            <div class="mt-2 mt-md-0 text-center">
              <a routerLink="/" class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-2 ms-xl-5" download>
                Descargar
                <span class="flecha-circular">
                  <i class="fas fa-arrow-down"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="d-flex align-items-center flex-column flex-md-row mb-4 justify-content-md-between justify-content-start">
            <!-- Ícono y texto -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <div class="flex-grow-0 flex-lg-grow-1">
                <p class="mb-0 ">Manual de Usuario o Proveedor</p>
              </div>
            </div>

            <!-- Botón centrado en pantallas pequeñas -->
            <div class="mt-2 mt-md-0 text-center">
              <a routerLink="/" class="btn-descargar me-sm-0 ms-sm-0 me-lg-5 ms-lg-2 ms-xl-5" download>
                Descargar
                <span class="flecha-circular">
                  <i class="fas fa-arrow-down"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

         <!-- Primer div -->

    </div>
  </div>
</section>
<!-- Fin de portal Intelecta -->
 <!-- section section listado con acordion preguntas precuentes-->
 <section class="contenedor-section section-background-2">
  <div class="my-lg-5 my-md-0">
    <div class="container-fluid">
      <div class="row align-items-center pb-5">
          <div class="col-md-6 mb-3 mb-md-0">
            <p class="tit-interno mb-0">Preguntas frecuentes</p>
          </div>
          <div class="col-md-6">
            <select name="" id="" class="selector-listado form-select">
              <option value="">Políticas Corporativas</option>
            </select>
          </div>
      </div>
      <div>
        <div class="content-listado my-3">
          <div class="d-flex align-items-center flex-column flex-md-row justify-content-between">

            <!-- Contenedor del ícono y el texto -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <p class="mb-0 listado flex-grow-1">¿Pregunta frecuente sobre tema 1 de relevancia para la empresa y su comunidad?</p>
            </div>

            <!-- Botón centrado debajo en pantallas pequeñas -->
            <div class="mt-2 mt-md-0 text-center">
              <button class="toggle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false">
              </button>
            </div>
          </div>

          <div id="collapseOne" class="collapse content-expand">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10">
                <div class="texto-base">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit per rutrum libero, primis penatibus inceptos praesent dui curae laoreet platea. Laoreet mi platea felis arcu penatibus vehicula, montes ligula aenean turpis rutrum neque, dignissim sagittis phasellus cras euismod. Curae potenti duis porta blandit magnis integer, feugiat id mi dapibus etiam facilisis senectus, velit gravida sollicitudin sodales aliquam venenatis, phasellus litora facilisi convallis vitae.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-listado my-3">
          <div class="d-flex align-items-center flex-column flex-md-row justify-content-between">

            <!-- Contenedor del ícono y el texto -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <p class="mb-0 listado flex-grow-1">¿Pregunta frecuente sobre tema 1 de relevancia para la empresa y su comunidad?</p>
            </div>

            <!-- Botón centrado debajo en pantallas pequeñas -->
            <div class="mt-2 mt-md-0 text-center">
              <button class="toggle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false">
              </button>
            </div>
          </div>

          <div id="collapseOne" class="collapse content-expand">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10">
                <div class="texto-base">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit per rutrum libero, primis penatibus inceptos praesent dui curae laoreet platea. Laoreet mi platea felis arcu penatibus vehicula, montes ligula aenean turpis rutrum neque, dignissim sagittis phasellus cras euismod. Curae potenti duis porta blandit magnis integer, feugiat id mi dapibus etiam facilisis senectus, velit gravida sollicitudin sodales aliquam venenatis, phasellus litora facilisi convallis vitae.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-listado my-3">
          <div class="d-flex align-items-center flex-column flex-md-row justify-content-between">

            <!-- Contenedor del ícono y el texto -->
            <div class="d-flex align-items-center flex-grow-1">
              <i class="fas fa-arrow-right flecha-blue me-3"></i>
              <p class="mb-0 listado flex-grow-1">¿Pregunta frecuente sobre tema 1 de relevancia para la empresa y su comunidad?</p>
            </div>

            <!-- Botón centrado debajo en pantallas pequeñas -->
            <div class="mt-2 mt-md-0 text-center">
              <button class="toggle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false">
              </button>
            </div>
          </div>

          <div id="collapseOne" class="collapse content-expand">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10">
                <div class="texto-base">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit per rutrum libero, primis penatibus inceptos praesent dui curae laoreet platea. Laoreet mi platea felis arcu penatibus vehicula, montes ligula aenean turpis rutrum neque, dignissim sagittis phasellus cras euismod. Curae potenti duis porta blandit magnis integer, feugiat id mi dapibus etiam facilisis senectus, velit gravida sollicitudin sodales aliquam venenatis, phasellus litora facilisi convallis vitae.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
 <!-- Fin section listado con acordion preguntas precuentes-->



