
<app-imagen-view
  [backgroundImage]="'assets/images/quienes-somos.png'"
  [title]="'Quiénes Somos'"
  [description]="'Promovemos una gestión empresarial sostenible, que busca impactar en el bienestar de nuestros grupos de interés y en el desarrollo del Perú.'"
  [videoLink]="'https://www.youtube.com/watch?v=quh3jZbOWzQ'"
  [videoThumbnail]="'assets/images/imagen_video/quienes-somos-video.png'"
  [mode]="'video'"
  [videoText]="'Conoce más sobre nuestras operaciones mineras'">
</app-imagen-view>
<!-- section proposito -->
<app-info-view-general
  [titulo1]="'Nuestro Propósito'"
  [titulo2]="
    'Mejoramos la vida transformando minerales en bienestar.'
  "
  [descripcion]="
    'Este propósito nos guía a contribuir al desarrollo sostenible del país y trabajar por un legado enfocado en las personas.'
  "
></app-info-view-general>

<!--  fin section proposito -->
  <!-- section nuestra vision -->
<section class="contenedor-section section-background-2 ">
  <div class="container-fluid y-lg-5 my-md-0">
      <p class="mb-5 title-interna-index">Nuestra visión del futuro</p>

  </div>
  <div class="seccion-fondo " style="background:url('../../../../../assets/images/breca.png') center/cover no-repeat;">
          <div class="container-fluid">
              <div class="row d-flex justify-content-end">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-5 py-3">
                    <div class="contenido-flotante">
                          <p class="titulo-realeway-grande mb-xl-5 mb-sm-2">Para un futuro mejor, lo mejor de nosotros.</p>
                          <p class="texto-base">En Minsur, integramos prácticas y enfoques sostenibles en nuestra estrategia de negocios y en todas las etapas de nuestros proyectos y operaciones.
                           .</p>
                          <p class="texto-base"> Por eso, adoptamos tecnologías limpias y nos comprometemos a alcanzar cero emisiones netas en nuestras operaciones para 2050. También desarrollamos proyectos para un crecimiento continuo, optimizando recursos y buscando nuevas oportunidades de inversión.</p>
                          <p class="texto-base">Nuestro compromiso con la generación de valor compartido incluye la salud y seguridad de nuestros trabajadores y el fortalecimiento de los vínculos con socios estratégicos y la comunidad</p>

                      </div>
                  </div>
              </div>
          </div>
  </div>
</section>
<!--  fin section vision -->
  <!-- section Gobierno Corporativo -->
<section class="contenedor-section section-background-2 ">
    <div class="container-fluid my-lg-5 my-md-0">
        <p class="mb-5 title-interna-index mb-5">Gobierno Corporativo</p>
        <div class="row pt-5 ">
            <div class="col-lg-12">
                <p class="tit-pequeño">Directorio</p>
            </div>
        </div>
        <div class="content-directorio">
            <div class="row py-5">
                <div class="col-lg-12">
                    <p class="til-mediano-azul">Fortunato Brescia Moreyra</p>
                </div>
            </div>
            <div class="row py-0 py-sm-0 py-md-2 py-lg-3 py-xl-5">
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p">Alex Fort Brescia</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p"  >Rosa Brescia Cafferata viuda de Fort</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p"  >Mario Brescia Moreyra</p>
                </div>
            </div>
            <div class="row py-0 py-sm-0 py-md-2 py-lg-3 py-xl-5">
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p" >Pedro Brescia Moreyra</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p"  >Jaime Aráoz Medanic</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p">Miguel Aramburú Álvarez-Calderón</p>
                </div>
            </div>
            <div class="row py-0 py-sm-0 py-md-2 py-lg-3 py-xl-5">
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p"  >Patricio de Solminihac Tampier</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p" >Miguel Ángel Salmón Jacobs</p>
                </div>
                <div class="col-lg-4">
                    <p class="til-pequenio-azul tamanio-p"  >Claudia Valdivia Valladares</p>
                </div>
            </div>
        </div>

    </div>

</section>
<!--  fin Gobierno Corporativo -->
<!-- Inciio alta gerencia -->
<section class="contenedor-section section-background-1">
  <div class="container-fluid my-lg-5 my-md-0">
    <!-- Primer Row -->
    <p class="mb-5 tit-pequeño">Alta Gerencia</p>
    <div class="row align-items-end  mb-sm-0 mb-xl-5 custom-img">

      <!-- Imagen Izquierda -->
      <div class="col-lg-6 col-md-6 p-0 ">
        <img src="../../../../../assets/images/ceo.png" alt="Imagen" class="img-fluid w-100 h-100 object-cover ">
      </div>
      <!-- Card Derecha -->
      <div class="col-lg-6 col-md-6  ps-0 px-0 px-sm-0 px-md-0 px-lg-0">
        <div class="card custom-card" style="height: 90%;">
          <p class="card-title til-semigrande-azul">Juan Luis Kruger</p>
          <p class="til-semi-pequenio card-body p-0 mb-xxl-5 mb-xl-3 mb-lg-3 mb-md-1"><i class="fas fa-arrow-right me-2" style="color:#0063f9"></i>CEO</p>
          <a routerLink="/quienes-somos/alta-gerencia" class="btn-vermas mt-xxl-3 mt-xl-3 mt-lg-3 mt-md-1">
            <span class="flecha-circular"><i class="fas fa-arrow-right flecha-ver-mas"></i></span>
            ver más
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-section section-background-1">
  <div class="container-fluid my-lg-5 my-md-0">


    <p class="mb-5 tit-pequeño">Comité Ejecutivo</p>
    <!-- Segundo Row -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-4 mb-5">
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 1">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class="text-start til-semipequenio-azul">Gianflavio Carozzi Keller</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 2">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class="text-start til-semipequenio-azul">Gabriel Ayllón García</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 3">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class="text-start til-semipequenio-azul">Gonzalo Quijandría Fernández</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 4">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Ralph Alosilla Velazco Vera</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 1">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-center til-semipequenio-azul">Yuri Gallo Mendoza</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10  h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 2">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Álvaro Escalante Ruiz</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 3">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Hik Park</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 4">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Alan Angles Arrué</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 1">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Fredy Gutiérrez Álvarez</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 2">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Helman Maldonado</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card10 h-100">
          <img src="../../../../../assets/images/ejecutivo.png" class="card-img-top" alt="Imagen 3">
          <div class="card-body py-3 px-5 py-lg-2 px-lg-4 py-md-3 px-md-3 py-sm-2 px-sm-3">
            <h5 class=" text-start til-semipequenio-azul">Ivo Serkovic</h5>
          </div>
        </div>
      </div>
      <!-- Repite los bloques anteriores para agregar más tarjetas -->
    </div>



  </div>
</section>
<!-- Fin alta gerencia -->
<section class="contenedor-section section-background-2 ">

  <div class="container-fluid my-lg-5 my-md-0">
    <div class="row align-items-center pb-5">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="title-interna-index mb-0">Políticas</p>
      </div>
      <div class="col-md-6">
        <select name="" id="" class="selector-listado form-select">
          <option value="">Transversales</option>
          <option value="">Gobernanza y Ética</option>
          <option value="">Seguridad y Salud Ocupacional</option>
          <option value="">Medio Ambiente</option>
          <option value="">Gestión del Talento</option>
          <option value="">Gestión Social</option>
          <option value="">Proveedores y Contratistas</option>
          <option value="">Operaciones</option>
        </select>
      </div>
    </div>
    <div class="pt-5">
      <!-- Primer div -->
      <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
       <!-- Flecha y texto alineados en la misma línea -->
       <div class="d-flex align-items-center flex-grow-1">
         <i class="fas fa-arrow-right flecha-blue me-3"></i>
         <p class="mb-0 listado">Código de Ética y Conducta </p>
       </div>

       <!-- Información del PDF -->
       <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
         <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
       </div>

       <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
       <div class="mt-2 text-center">
         <a routerLink="/" class="btn-descargar me-2" download>
           Descargar
           <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
         </a>
         <a routerLink="/" class="btn-descargar btn-ver" download>
           Ver
           <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
         </a>
       </div>
     </div>


     <!-- Segundo div -->
     <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
       <!-- Flecha y texto alineados en la misma línea -->
       <div class="d-flex align-items-center flex-grow-1">
         <i class="fas fa-arrow-right flecha-blue me-3"></i>
         <p class="mb-0 listado">Política Corporativa de Sostenibilidad </p>
       </div>

       <!-- Información del PDF -->
       <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
         <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
       </div>

       <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
       <div class="mt-2 text-center">
         <a routerLink="/" class="btn-descargar me-2" download>
           Descargar
           <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
         </a>
         <a routerLink="/" class="btn-descargar btn-ver" download>
           Ver
           <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
         </a>
       </div>
     </div>

     <!-- Tercer div -->
     <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
       <!-- Flecha y texto alineados en la misma línea -->
       <div class="d-flex align-items-center flex-grow-1">
         <i class="fas fa-arrow-right flecha-blue me-3"></i>
         <p class="mb-0 listado">Política de Derechos Humanos </p>
       </div>

       <!-- Información del PDF -->
       <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
         <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
       </div>

       <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
       <div class="mt-2 text-center">
         <a routerLink="/" class="btn-descargar me-2" download>
           Descargar
           <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
         </a>
         <a routerLink="/" class="btn-descargar btn-ver" download>
           Ver
           <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
         </a>
       </div>
     </div>

     <!-- Cuarto div -->
     <div class="d-flex align-items-center mb-4 content-listado flex-column flex-md-row justify-content-md-between justify-content-center">
       <!-- Flecha y texto alineados en la misma línea -->
       <div class="d-flex align-items-center flex-grow-1">
         <i class="fas fa-arrow-right flecha-blue me-3"></i>
         <p class="mb-0 listado">Política Corporativa de Diversidad e Inclusión  </p>
       </div>

       <!-- Información del PDF -->
       <div class="d-flex align-items-center justify-content-md-end mt-2 mt-md-0">
         <p class="mb-0 card4-footer m-2">PDF 12.5MB</p>
       </div>

       <!-- Botones Descargar y Ver, centrados en pantallas pequeñas -->
       <div class="mt-2 text-center">
         <a routerLink="/" class="btn-descargar me-2" download>
           Descargar
           <span class="flecha-circular"><i class="fas fa-arrow-down"></i></span>
         </a>
         <a routerLink="/" class="btn-descargar btn-ver" download>
           Ver
           <span class="flecha-circular"><i class="fas fa-arrow-right"></i></span>
         </a>
       </div>
     </div>
   </div>

  </div>
</section>


