<div class="px-0">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item active caorusel-style-item"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url('assets/images/carrousel/quienes.png');
          background-size: cover;
          background-position: 80% center;
          background-repeat: no-repeat;
        "
      >
        <section>
          <div
            class="carousel-caption gap-lg-3 gap-1 container-fluid mx-auto carousel-style"
          >
            <div>
              <p class="subtitulo-carousel">QUIÉNES SOMOS</p>
              <h3>Minería Peruana <br />de clase mundial</h3>
              <p>
                Nuestro propósito: Mejoramos la vida <br />
                transformando minerales en bienestar.
              </p>
              <app-button
                link="/quienes-somos"
                defaultBorderColor="#7df900"
                defaultStrokeColor="#7df900"
                hoverStrokeColor="#ffffff"
                label="ver más"
                textColor="#7df900"
              >
              </app-button>
            </div>
          </div>
        </section>
      </div>
      <div
        class="carousel-item caorusel-style-item"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url('assets/images/carrousel/producimos.png');
          background-size: cover;
          background-position: 80% center;
          background-repeat: no-repeat;
        "
      >
        <section>
          <div
            class="carousel-caption gap-lg-3 gap-1 container-fluid mx-auto carousel-style"
          >
            <div>
              <p class="subtitulo-carousel">QUÉ PRODUCIMOS</p>
              <h3>
                Somos el segundo <br />
                productor de estaño <br />
                en el mundo
              </h3>
              <p>
                Diversificamos nuestra cartera para <br />
                responder a nuestra estrategia de <br />
                crecimiento y las demandas del mercado .
              </p>
              <app-button
                link="/que-hacemos"
                defaultBorderColor="#7df900"
                defaultStrokeColor="#7df900"
                hoverStrokeColor="#ffffff"
                label="ver más"
                textColor="#7df900"
              >
              </app-button>
            </div>
          </div>
        </section>
      </div>
      <div
        class="carousel-item carousel-style-item"
        style="
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            url('assets/images/carrousel/vision.png');
          background-size: cover;
          background-position: 80% center;
          background-repeat: no-repeat;
        "
      >
        <section>
          <div
            class="carousel-caption gap-lg-3 gap-1 container-fluid mx-auto carousel-style"
          >
            <div>
              <p class="subtitulo-carousel">VISIÓN DEL FUTURO</p>
              <h3>
                Sostenibilidad, personas e innovación, palancas del crecimiento
              </h3>
              <p>
                Apostamos por el desarrollo de una <br />
                minería enfocada en las personas y <br />
                basada en la excelencia operacional.
              </p>
              <app-button
                link="/sostenibilidad"
                defaultBorderColor="#7df900"
                defaultStrokeColor="#7df900"
                hoverStrokeColor="#ffffff"
                label="ver más"
                textColor="#7df900"
              >
              </app-button>
            </div>
          </div>
        </section>
      </div>
    </div>

    <section>
      <div
        class="carousel-indicators-container d-flex mx-auto justify-content-center"
      >
        <div class="carousel-indicators container-fluid mb-lg-4 mb-2">
          <div class="col-4 slide_index" (click)="goToSlide(0)">
            <div class="carousel-indicator-group d-flex flex-column pe-2">
              <button
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide-to="0"
                class="active order-1"
              ></button>
              <div class="indicator-title">Quiénes Somos</div>
            </div>
          </div>
          <div class="col-4 slide_index" (click)="goToSlide(1)">
            <div class="carousel-indicator-group d-flex flex-column pe-2">
              <button
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide-to="1"
                class="order-1"
              ></button>
              <div class="indicator-title">Qué Producimos</div>
            </div>
          </div>
          <div class="col-4 slide_index" (click)="goToSlide(2)">
            <div class="carousel-indicator-group d-flex flex-column pe-2">
              <button
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide-to="2"
                class="order-1"
              ></button>
              <div class="indicator-title">Visión del Futuro</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="blue-line"></div>
<!-- seccion mapa -->
<section class="contenedor-section section-background-5">
  <div class="container-fluid">
    <div class="card9">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 d-flex flex-column pe-md-5 pe-ms-0">
          <img
            src="assets/images/unidad_minera.png"
            alt="Imagen"
            class="img-fluid mb-3"
          />
          <p class="texto-debajo-imagen texto-minimo">
            Unidad minera Pucamarca, distrito de Palca, a 52 kilómetros de
            Tacna.
          </p>
        </div>

        <div class="col-12 col-md-6 py-lg-5 py-sm-1">
          <p class="titulo-seccion titulo-grande">
            Redefiniendo la minería con visión de futuro
          </p>
          <p class="texto-seccion texto-sustinable">
            En Minsur tenemos un propósito trascendental orientado por la
            sostenibilidad y que guía nuestra estrategia empresarial. Los
            desafíos ambientales, económicos, sociales y las nuevas tecnologías
            nos exigen generar una nueva propuesta de valor, que hoy nos conduce
            hacia una minería más justa, humana y responsable.
          </p>
          <div class="d-flex justify-content-end me-xll-0 me-xl-4">
            <p class="nombre-seccion footer-minimo">Juan Luis Kruger - CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contenedor-section section-background-5">
  <div class="container-fluid">
    <div
      class="row no-gutters d-flex justify-content-between flex-lg-row flex-column card-sustinable"
    >
      <div
        class="col-lg-4 p-3 d-flex flex-column align-self-start"
        style="max-width: 550px"
      >
        <h2 class="titulo-seccion titulo-grande-verde">Dónde Operamos</h2>
        <p class="texto-seccion texto-sustinable">
          Contamos con una cartera minera diversificada en diferentes tipos de
          minerales y ubicaciones geográficas, lo cual es clave para la
          sostenibilidad y el éxito a largo plazo en la industria.
        </p>

        <div class="mb-3 d-flex flex-column my-5">
          <div class="d-flex align-items-center">
            <img
              src="assets/images/circulo_azul.png"
              alt="Icono 1"
              class="icono-imagen me-2"
            />
            <h4 class="titulo-item footer-minimo">Operaciones Minsur</h4>
          </div>
          <ul class="listado-operaciones texto-sustinable font-color-blue">
            <li><i class="fas fa-arrow-right"></i> San Rafael (Sn)</li>
            <li><i class="fas fa-arrow-right"></i> Pucamarca (Au)</li>
            <li><i class="fas fa-arrow-right"></i> F&R Pisco (Sn)</li>
          </ul>
        </div>

        <div class="mb-3 d-flex flex-column">
          <div class="d-flex align-items-center">
            <img
              src="assets/images/circulo_naranja.png"
              alt="Icono 2"
              class="icono-imagen me-2"
            />
            <h4 class="titulo-item footer-minimo">Proyectos</h4>
          </div>
          <ul class="listado-operaciones texto-sustinable font-color-orange">
            <li><i class="fas fa-arrow-right"></i> Santo Domingo (Sn)</li>
            <li><i class="fas fa-arrow-right"></i> La Colorada (Au)</li>
            <li><i class="fas fa-arrow-right"></i> Sumac Wayra (Cu)</li>
            <li><i class="fas fa-arrow-right"></i> Quimsachata (Cu)</li>
          </ul>
        </div>

        <div class="mb-3 d-flex flex-column">
          <div class="d-flex align-items-center">
            <img
              src="assets/images/circulo_verde.png"
              alt="Icono 3"
              class="icono-imagen me-2"
            />
            <h4 class="titulo-item footer-minimo">Subsidiarias</h4>
          </div>
          <ul class="listado-operaciones texto-sustinable font-color-green">
            <li><i class="fas fa-arrow-right"></i> Marcobre (Cu)</li>
            <li><i class="fas fa-arrow-right"></i> Taboca (Sn)</li>
            <li><i class="fas fa-arrow-right"></i> Cumbres del Sur</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-7 p-0">
        <img
          src="assets/images/mapa1.png"
          alt="Imagen"
          class="img-fluid w-100 h-100 object-contain"
        />
      </div>
    </div>
  </div>
</section>

<!-- seccion que producimos -->
<section class="contenedor-section section-background-2">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p class="mb-xxl-5 title-interna-index">Qué producimos</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-12 mb-5 mb-md-0">
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <img
                    src="assets/images/estanio.png"
                    alt="Estanio"
                    class="card-img img-fluid"
                    style="border-radius: 20px 20px 0 0"
                  />
                  <div class="overlay">
                    <div class="card-content p-xxl-3 p-xl-2 p-2">
                      <p class="titulo pl-1 texto-titulo-blanco">
                        <i class="fas fa-arrow-right flecha"></i> Estaño
                      </p>
                      <p class="descripcion texto-base-blanco">
                        El estaño es un metal altamente versátil. Su resistencia
                        a la corrosión y su capacidad para conducir electricidad
                        lo convierten en un componente clave en la electrónica,
                        la industria automotriz y las energías renovables. Lo
                        podemos encontrar en latas de alimentos, conectores
                        eléctricos y baterías de celulares.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-12 mb-5 mb-md-0">
          <div class="">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <img
                    src="assets/images/oro.png"
                    alt="Oro"
                    class="card-img img-fluid"
                    style="border-radius: 20px 20px 0 0"
                  />
                  <div class="overlay">
                    <div class="card-content p-xxl-3 p-xl-2 p-2">
                      <p class="titulo pl-1 texto-titulo-blanco">
                        <i class="fas fa-arrow-right flecha"></i> Oro
                      </p>
                      <p class="descripcion texto-base-blanco">

                        Durante milenios, el oro ha cautivado a la humanidad. Además de actuar como reserva financiera y recurso estratégico, su resistencia y conductividad lo han convertido en un elemento esencial en la tecnología moderna, siendo clave para la fabricación de dispositivos electrónicos y componentes médicos.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contenedor-section-0 section-background-4">
  <div class="container-fluid">
    <div class="row no-gutters card-sustinable">
      <div
        class="col-12 col-md-12 col-sm-12 col-lg-5 d-flex justify-content-center align-items-center"
      >
        <div class="card8">
          <div class="logo-sustinable mb-5">
            <p>
              <span class="sust-logo">SUS</span><span class="tin-logo">TIN</span
              ><span class="sust-logo">ABLE</span>
            </p>
          </div>
          <div class="card-content">
            <div class="card-title titulo-sustinable">
              <p>Estaño sostenible y de calidad para el futuro.</p>
            </div>
            <div class="card-body texto-sustinable">
              <p>
                SusTINable no es solo un producto, es una forma de trabajar que
                busca generar bienestar social y éxito a largo plazo para
                nuestros negocios, socios y el mundo.
              </p>
            </div>
            <div class="card-footer mt-5">
              <app-button
                link="/sostenibilidad"
                defaultBorderColor="#7df900"
                defaultStrokeColor="#7df900"
                hoverStrokeColor="#ffffff"
                label="visita nuestra web"
                textColor="#7df900"
              >
              </app-button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-7 p-0">
        <img
          src="assets/images/sustinable.png"
          alt="Imagen"
          class="img-fluid w-100"
          style="object-fit: cover; height: 100%"
        />
      </div>
    </div>
  </div>
</section>

<!-- seccion  Produccion rsponsable-->
<section class="contenedor-section section-background-2">
  <app-card-produccion-responsable></app-card-produccion-responsable>
</section>

<!-- Seccion noticias     -->
<section class="contenedor-section section-background-3">
  <div class="mb-5">
    <app-card-noticias [noticias]="noticias" [displayCount]="3">
    </app-card-noticias>
  </div>
  <div class="py-0 mt-5">
    <div class="container-fluid mb-xxl-5">
      <div class="row d-flex justify-content-center justify-content-lg-between">
        <div class="col-md-12 col-lg-8">
          <p class="mb-xxl-5 title-interna-index">Reportes</p>
          <div class="row d-flex justify-content-center">
            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-xll-5 mb-xl-1 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
            >
              <div class="card4">
                <div class="card-img-container">
                  <img
                    src="assets/images/reporte3.png"
                    class="card-img-top"
                    alt="Imagen 2"
                  />
                </div>
                <div class="card4-body my-3 px-2">
                  <p class="card4-title">
                    <span class="hover-card-reporte-underline"
                      >Memoria Anual 2024</span
                    >
                  </p>
                  <div class="card4-footer">
                    <span>PDF 12.5Mb</span>
                    <app-button-descargar
                      link="/"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="descargar"
                      textColor="#0063f9"
                    ></app-button-descargar>

                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-xll-5 mb-xl-1 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
            >
              <div class="card4">
                <div class="card-img-container">
                  <img
                    src="assets/images/reporte2.png"
                    class="card-img-top"
                    alt="Imagen 2"
                  />
                </div>
                <div class="card4-body my-3 px-2">
                  <p class="card4-title">
                    <span class="hover-card-reporte-underline"
                      >Reglamento del Directorio</span
                    >
                  </p>
                  <div class="card4-footer">
                    <span>PDF 12.5Mb</span>
                    <app-button-descargar
                    link="/"
                    defaultBorderColor="#0063f9"
                    defaultStrokeColor="#0063f9"
                    hoverStrokeColor="#ffffff"
                    label="descargar"
                    textColor="#0063f9"
                  ></app-button-descargar>

                  </div>
                </div>
              </div>
            </div>


            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-xll-5 mb-xl-1 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
            >
              <div class="card4">
                <div class="card-img-container">
                  <img
                    src="assets/images/reporte1.png"
                    class="card-img-top"
                    alt="Imagen 2"
                  />
                </div>
                <div class="card4-body my-3 px-2">
                  <p class="card4-title">
                    <span class="hover-card-reporte-underline"
                      >Reporte de Sostenibilidad 2024</span
                    >
                  </p>
                  <div class="card4-footer">
                    <span>PDF 12.5Mb</span>
                    <app-button-descargar
                    link="/"
                    defaultBorderColor="#0063f9"
                    defaultStrokeColor="#0063f9"
                    hoverStrokeColor="#ffffff"
                    label="descargar"
                    textColor="#0063f9"
                  ></app-button-descargar>

                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-xll-5 mb-xl-1 d-flex justify-content-center justify-content-sm-center justify-content-md-start"
            >
              <div class="card4">
                <div class="card-img-container">
                  <img
                    src="assets/images/reporte1.png"
                    class="card-img-top"
                    alt="Imagen 2"
                  />
                </div>
                <div class="card4-body my-3 px-2">
                  <p class="card4-title">
                    <span class="hover-card-reporte-underline"
                      >Reporte de expectativas de desempeño ICMM 2023</span
                    >
                  </p>
                  <div class="card4-footer">
                    <span>PDF 12.5Mb</span>
                    <app-button-descargar
                    link="/"
                    defaultBorderColor="#0063f9"
                    defaultStrokeColor="#0063f9"
                    hoverStrokeColor="#ffffff"
                    label="descargar"
                    textColor="#0063f9"
                  ></app-button-descargar>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Columna de comunicados -->
        <div class="col-12 col-md-12 col-lg-3">
          <p class="mb-xxl-5 title-interna-index">Comunicados</p>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
              <div class="card5">
                <img
                  src="assets/images/comunicado1.png"
                  class="card-img-top"
                  alt="Imagen de ejemplo"
                />

                <div
                  class="card-body d-flex flex-column justify-content-between my-3 my-sm-4 my-md-4"
                >
                  <p class="card2-title hover-card-underline my-1">
                    Minsur convoca a asamblea general de la cuenca de regantes de
                    Antauta y Ajoyami
                  </p>

                  <div class="mt-3">
                    <app-button
                      link="/home/comunicados"
                      defaultBorderColor="#0063f9"
                      defaultStrokeColor="#0063f9"
                      hoverStrokeColor="#ffffff"
                      label="ver más"
                      textColor="#0063f9"
                    >
                    </app-button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- fin seccion noticias -->

<!-- seccion trabaja con nosotros -->
<section class="contenedor-section section-background-1">
  <div class="">
    <div class="container-fluid">
      <div class="row d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-md-5 mb-4">
          <div class="card6">
            <img
              src="assets/images/integridad1.png"
              class="card-img-top"
              alt="Imagen de ejemplo"
              style="border-radius: 20px"
            />
            <div class="card-body">
              <p
                class="card-title title-interna-index my-xxl-3 my-xl-3 my-sm-2 my-2"
              >
                Canal de Integridad
              </p>
              <p class="card-text">
                permite comunicar inquietudes, quejas o denuncias sobre
                incumplimientos legales o de políticas internas.
              </p>
              <div
                class="card-footer d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center"
              >

                <app-button
                link="/home/canal-integridad"
                defaultBorderColor="#0063f9"
                defaultStrokeColor="#0063f9"
                hoverStrokeColor="#ffffff"
                label="escríbenos"
                textColor="#0063f9"
              >
              </app-button>

                <a routerLink="/" class="btn-descargar mt-2 mt-md-0" download>
                  <span class="flecha-circular">
                    <i class="fas fa-arrow-down"></i>
                  </span>
                  descarga el código de ética
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-5 mb-4">
          <div class="card6">
            <img
              src="assets/images/trabaja_nosotros1.png"
              class="card-img-top"
              alt="Imagen de ejemplo"
              style="border-radius: 20px"
            />
            <div class="card-body">
              <p
                class="card-title title-interna-index my-xxl-3 my-xl-3 my-sm-2 my-2"
              >
                Trabaja con Nosotros
              </p>
              <p class="card-text">
                Transforma minerales en bienestar requiere de un gran equipo.
                Únete a nosotros y sé parte de este proceso.
              </p>
              <div
                class="card-footer d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center"
              >
                <app-button
                  link="/home/trabaja-con-nosotros"
                  defaultBorderColor="#0063f9"
                  defaultStrokeColor="#0063f9"
                  hoverStrokeColor="#ffffff"
                  label="postula aquí"
                  textColor="#0063f9"
                >
                </app-button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- fin de seccion trabaja con nosotros -->

